<!--Footer-->
  <footer class="footer">
    <div class="container">
      <div class="row footer-991">
        <div class="col-md-2 col-sm-4 col-xs-12">
          <div class="footer-block footerblock1">
             <h3>About Us</h3>
            <span class="toggle-btn"><i class="fa fa-plus"></i></span>
            <div class="footerlinkWrap">
            <ul>
              <li><a href="/pages/nyaya-portal">Nyaya Portal</a></li>
              <li><a href="/pages/national-arbitral-tribunal">National Arbitral Tribunal</a></li>
              <li><a href="/pages/panel-of-arbitrators">Panel of Arbitrators</a></li>
              <li><a href="/pages/rules">Rules</a></li>
              <li><a href="/pages/e-facilities">E-Facilities</a></li>
              <li><a href="/pages/mous">MOU's</a></li>
              <li><a href="/front/pdf/NAT brochure.pdf" target="_blank">Brochure</a></li>
               <li><a href="javascript:void(0)">Gallery</a></li>
            </ul>
            </div>
          </div>
        </div>
          <div class="col-md-2 col-sm-4 col-xs-12">
          <div class="footer-block footerblock1">
              <h3>Our Offering</h3>
            <span class="toggle-btn"><i class="fa fa-plus"></i></span>
            <div class="footerlinkWrap">
            <ul>
              <li><a href="/pages/nyaya-card">Nyaya Card</a></li>
              <li><a href="/pages/membership">Membership</a></li>
              <li><a href="/pages/field-for-professionals">New Field for Professionals</a></li>
              <!-- <li><a href="/pages/franchisee">Join as Authorised Promoter</a></li> -->
              <li><a href="/pages/join_hands_authorised_promoters">Join as Authorised Promoter</a></li>

              <li><a href="/pages/property-dispute">Property Dispute Cell</a></li>
            </ul>

            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="footer-block footerblock1">
              <h3>About Arbitration</h3>
            <span class="toggle-btn"><i class="fa fa-plus"></i></span>
            <div class="footerlinkWrap">
            <ul>
             <li><a href="/pages/dispute-redressal-system">Dispute Redressal System</a></li>
              <li><a href="/pages/what-is-arbitration">What Is Arbitration</a></li>
               <li><a href="/pages/institutional-vs-adhoc">Institutional V/S Adhoc</a></li>
              <li><a href="/pages/two-tier-arbitration">Two Tier Arbitration</a></li>
              <li><a href="/pages/dispute-settled-by-arbitrations">Disputes under the jurisdiction of Arbitration</a></li>
               <li><a href="/pages/prohibited-disputes">Disputes prohibited under Arbitration</a></li>
               <li><a href="/pages/faq">FAQ</a></li>
               <li><a href="/pages/videos">Videos</a></li>
            </ul>

            </div>
          </div>
        </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-block footerblock1">
              <h3>Features of Arbitration Act</h3>
            <span class="toggle-btn"><i class="fa fa-plus"></i></span>
            <div class="footerlinkWrap">
            <ul>
                <li><a href="/pages/interim-measures">Interim Measures</a></li>
              <li><a href="/pages/time-limit-for-arbitral-award">Timeline for Award</a></li>
              <li><a href="/pages/enforcement-of-arbitral-award">Enforcement of Award</a></li>
              <li><a href="/pages/recourse-against-arbitral-award">Recourse Against Award</a></li>
              <li><a href="/pages/fast-track-procedure/">Fast Track Procedure</a></li>
              <li><a href="/pages/appealable-orders">Appealable Order</a></li>
              <li><a href="/pages/appointment-of-arbitrators">Appointment Of Arbitrator</a></li>
              <li><a href="/pages/arbitration-conciliation-act">Arbitration and Conciliation Act</a></li>
            </ul>

            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-12">
          <div class="footer-block footerblock1">
              <h3>Support</h3>
            <span class="toggle-btn"><i class="fa fa-plus"></i></span>
            <div class="footerlinkWrap">
            <ul>
              <li><a href="/pages/contact-us">Contact Us</a></li>
              <li><a href="/pages/our-service-area">Our Service Area</a></li>
              <li><a href="/pages/fee-calculator-sh1">Arbitration Fee calculator</a></li>
              <li><a href="/pages/fee-calculator">Nyaya Card Fee calculator</a></li>
              <li><a href="/pages/exemptions_membership">Exemptions Calculator</a></li>
              <li><a href="/pages/verify-document">Verify Your Document</a></li>
              <li><a href="/front/pdf/Model-Clause.docx" download="Model-Clause.docx">Model Clause</a></li>
              <li><a href="/pages/careers">Careers</a></li>
            </ul>
            <ul>
              <!--<li><a href="/pages/fee-exemptions">Fee Exemptions</a></li>-->
            </ul>

            </div>
          </div>
        </div>






      </div>


    </div>
  </footer>
<div class="footer-two">
  <div class="container">
    <div class="row">
    <div class="col-md-4 col-sm-3 col-xs-12">
      <div class="footer-block footerblock1 mb-10-767">
        <div  class="di-logo"><a href="http://digitalindia.gov.in/" target="_blank"><img src="/front/assets/img/digital-india-logo.png" alt="digital india"></a></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="footer-block footerblock1 mb-10-767 pt-10-767 border-top-767">
        <div class=" footer-share">
          <h3>Connect with us : </h3>
          <a href="https://www.facebook.com/nyayaportal.in/" class="img-circle f-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/NyayaPortal" class="img-circle f-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company-beta/13363063/" class="img-circle f-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://plus.google.com/u/0/116015766497723179158" class="img-circle f-gplus" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="footer-block footerblock1 pt-10-767 border-top-767">
        <div class=" footer-share">
          <!-- <h3>Payment Method : </h3> -->
          <img src="/front/assets/img/payment-method.png" alt="payment option" class="pl-10" >
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  <div class="below-footer">
    <div class="container">
    <div class="row">
        <div class="" style="text-align: left;">
      <div class="col-md-5 col-sm-12 col-xs-12">
         &copy; 2017 Copyright Legal Resolution Pvt. Ltd. - All Rights Reserved.
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <ul class="f_right bottom-link">
          <li><a href="/pages/refund-policies">Refund & Cancellation Policy</a> </li>
          <li><a href="/pages/intellectual-policies">Intellectual Property Policy</a> </li>
          <li><a href="/pages/disclaimer">Disclaimer</a> </li>
          <li> <a href="/pages/terms-condition">Terms and Condition</a></li>
          <li> <a href="/pages/privacy_policy">Privacy Policy</a></li>




        </ul>
      </div>
    </div>
    </div>
   </div>

  </div>
<!--/Footer-->
