<div class="newsmarquee">
  <div class="container">
    <marquee>
        <% if(results.news){ %>
            <%= results.news.first_news %>
        <% } %>
    </marquee>
  </div>
</div>

<div class="banner swiper-container swiper3">
  <div class="swiper-wrapper">
    <div class="banner-slides swiper-slide">
      <img src="/front/assets/img/new-img/nat-banner01.jpg">
      <div class="banner-txt">
        <div class="container">
          <div class="banner-txt-inner">
            <div class="banner-txt-inner1">
            <h1>Join us as Authorised Promoter</h1>
            <!-- <div class="banner-btn"><a href="/pages/join-authorised-promoter">Click here</a></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-slides swiper-slide">
      <img src="/front/assets/img/new-img/nat-banner02.jpg">
      <div class="banner-txt">
        <div class="container">
        <div class="banner-txt-inner">
            <div class="banner-txt-inner1">
            <h1>Accelerating Non- Litigation Practice</h1>
            <!-- <div class="banner-btn"><a href="/pages/accelerating-non-litigation-practice">Click here</a></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-slides swiper-slide">
      <img src="/front/assets/img/new-img/nat-banner03.jpg">
      <div class="banner-txt">
        <div class="container">
          <div class="banner-txt-inner">
            <div class="banner-txt-inner1">
            <h1>Port your litigation to Arbitration</h1>
            <div class="banner-btn"><a href="/pages/port-your-litigation-arbitration">Click here</a></div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-slides swiper-slide">
      <img src="/front/assets/img/new-img/nat-banner04.jpg">
      <div class="banner-txt">
        <div class="container">
            <div class="banner-txt-inner">
              <div class="banner-txt-inner1">
              <h1>Adopt arbitration, Adapt to the future</h1>
              <div class="banner-btn"><a href="/pages/adopt-arbitration-adapt-future">Click here</a></div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div class="swiper-pagination"></div>
</div>
<div class="newsmarquee">
  <div class="container">
    <marquee SCROLLDELAY=150>
        <% if(results.news){ %>
            <%= results.news.second_news %>
        <% } %>
    </marquee>
  </div>
</div>
