<div class="banner swiper-container swiper3 inner-banner">
        <!--<div class="container">
          <div class="banner-txt">
             <h2>National Initiative of Government</h2>
            <div class="banner-btn"><a href="/pages/national-initiative-of-government ">Click here</a></div> 
          </div>
        </div>-->
</div>