<%-    include('../helper/Heading-Page.ejs', {title:'Add'}); %>
<section class="content">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="filterBar">
            <div class="filterBarRight">
                <a href="/admin/<%= extraVar.viewDirectory %>" class="btn-view-list"><i class="fa fa-list" aria-hidden="true"></i> View Listing</a>
            </div>
        </div>

        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" id='formSubmit' name='' method='post' action='/admin/<%= extraVar.viewDirectory %>/create' enctype="multipart/form-data">

            <div class="box-body">
                <div class="row">    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name<em>*</em></label>

                            <input type="text" class="form-control" id="title" name='title'>
                            <lable class="error_mgs_lable" id="title_error"></lable>

                        </div>
                    </div>
                </div>
<!--                <div class="row">    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Position<em>*</em></label>

                            <input type="text" class="form-control" id="position" name='position'>
                            <lable class="error_mgs_lable" id="position_error"></lable>

                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Description<em>*</em></label>

                            <textarea onkeypress="onTestChange();"  rows="8" type="text" class="form-control" id="description" name='description' ></textarea>
                            <lable class="error_mgs_lable" id="description_error"></lable>

                        </div>
                    </div>
                </div>
            </div>

            <!-- /.box-body -->

            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <%- include('../helper/commonHtml.ejs', {htmlType:'SaveCancel'}); %>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box -->


    <!-- /.box -->

</section>
<script>
    $(function() {
        CKEDITOR.replace('description', {
            basicEntities: false
        });
    })
</script>