<%- contentFor('body') %>
<div class="box box-solid">
<div id='loadUi'>

</div>
<div class="overlay" style="display:none" id="loadingCenter">
<i class="fa fa-refresh fa-spin"></i>
<!--<img alt="Loading..." class="" src="/admin/images/load.gif">-->
</div>
</div>