<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Nyaya Portal</title>
<style>
body{background:url(imgpsh_fullsize.jpg) center top no-repeat; background-size:cover;}
</style>
</head>

<body>
</body>
</html>