<%- contentFor('body') %>

<!-- Banner -->






<!--Banner-->
<% include ../element/home_banner %>
<!--/Banner-->
<!--section1-->
<!--<section class="panel-arbitrators-txt">
    <div class="container">
      <h3>National Initiative of Government</h3>
      <p> Curabitur quis commodo massa, eget porttitor neque. Nullam justo diam, ultrices nec tincidunt consequat, dignissim non tortor. Aenean sodales ipsum tincidunt quam porta, in viverra felis dictum. Fusce accumsan purus vel sem tempus, convallis vulputate justo venenatis. Etiam venenatis dapibus risus at aliquam. Maecenas consequat euismod massa nec semper. Curabitur sit amet enim sed neque viverra tincidunt. Aenean sapien justo, mollis fermentum lacus vitae, euismod ultricies libero. Pellentesque lacus ligula, mollis vel neque nec, mollis sagittis neque. Praesent convallis lacus est, eget malesuada risus pharetra sed. Ut ultricies, leo et tempor interdum, arcu leo congue lectus, at dapibus lectus ex quis ex. Nunc tortor libero, maximus id congue a, tincidunt eget nisl. Donec dictum id magna eu venenatis.

     </p>
    <a href="/pages/national-initiative-of-government" class="read-more">Read More</a>
    </div>
</section>
<section class="panel-arbitrators-txt gray-bg">
    <div class="container">
      <h3>Diverting India towards Arbitration</h3>
      <p> Curabitur quis commodo massa, eget porttitor neque. Nullam justo diam, ultrices nec tincidunt consequat, dignissim non tortor. Aenean sodales ipsum tincidunt quam porta, in viverra felis dictum. Fusce accumsan purus vel sem tempus, convallis vulputate justo venenatis. Etiam venenatis dapibus risus at aliquam. Maecenas consequat euismod massa nec semper. Curabitur sit amet enim sed neque viverra tincidunt. Aenean sapien justo, mollis fermentum lacus vitae, euismod ultricies libero. Pellentesque lacus ligula, mollis vel neque nec, mollis sagittis neque. Praesent convallis lacus est, eget malesuada risus pharetra sed. Ut ultricies, leo et tempor interdum, arcu leo congue lectus, at dapibus lectus ex quis ex. Nunc tortor libero, maximus id congue a, tincidunt eget nisl. Donec dictum id magna eu venenatis.

    </p>
    <a href="/pages/diverting-india-towards-arbitration" class="read-more">Read More</a>
    </div>
</section>-->
<!--<section class="panel-arbitrators">
  <div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
     <h3>Panel of Arbitrators</h3>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="panel-block">
              <img src="/front/assets/img/pannel1.jpg" alt="">
              <div class="panel-content">
                <strong>Appointment of Arbitrators</strong>
                <p>If the arbitration agreement provided that the arbitration should ...</p>
                  <a href="/pages/appointment-of-arbitrators">Read More...</a>
              </div>
            </div>
        </div>
         <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="panel-block">
              <img src="/front/assets/img/pannel2.jpg" alt="">
              <div class="panel-content">
                <strong>Franchisees</strong>
                <p>Nyaya Portal is The First leading permanent arbitration Institute of India ...</p>
                <a href="/pages/franchisee">Read More...</a>
              </div>
            </div>
          </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="panel-block">
              <img src="/front/assets/img/pannel3.jpg" alt="">
              <div class="panel-content">
                <strong>Nyaya Cards</strong>
                <p>Nyaya Card is a premium product of Legal Resolution Centre Pvt. Ltd. (LRC) ...</p>
                <a href="/pages/nyaya-card">Read More...</a>
              </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="panel-block">
              <img src="/front/assets/img/pannel3.jpg" alt="">
              <div class="panel-content">
                <strong>Memberships</strong>
                <p>Nyayaportal membership is open to all business entities, membership fees ...</p>
                <a href="/pages/membership">Read More...</a>
              </div>
            </div>
        </div>
      </div>

    </div>
     <div class="col-md-3 col-sm-4 col-xs-12">
      <h3>Other Activities</h3>
      <div class="activity-block1">
        <img src="/front/assets/img/activity1.jpg" alt="">
      </div>
      <div class="activity-block2">
        <img src="/front/assets/img/activity2.jpg" alt="">
      </div>
    </div>-
  </div>
</div>
</section>-->

<!--/section1-->
<!--<section class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="Judgements">
          <h3>Judgements</h3>
            <div class="view-all"><a href="#">View All</a></div>
          <div class="JudgementsInner clearfix">
            <img src="/front/assets/img/high-court.jpg">
            <p>Union of India<br>

                - vs -<br>
              Rajasthan High Court</p>
          </div>
           <div class="JudgementsInner clearfix">
            <img src="/front/assets/img/high-court1.jpg">
            <p>State of Punjab<br>

                - vs -<br>
             Magan Lal</p>
          </div>
           <div class="JudgementsInner clearfix">
            <img src="/front/assets/img/high-court2.jpg">
            <p>Delhi Development Authority<br>

                - vs -<br>
              Abha Sharma</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="Awareness cases">
          <h3>Client Awareness Prog</h3>
            <div class="view-all"><a href="#">View All</a></div>
          <div class="cases-inner AwarenessInner clearfix">
            <img src="/front/assets/img/Awareness.jpg">
             <div class="case-overlay">
              <span>Awareness Programme </span>
              <a href="#">Read More</a>
            </div>
          </div>
           <div class="cases-inner AwarenessInner  clearfix">
            <img src="/front/assets/img/Awareness2.jpg">
             <div class="case-overlay">
              <span>Awareness Programme </span>
              <a href="#">Read More</a>
            </div>
          </div>
           <div class="cases-inner AwarenessInner  clearfix">
            <img src="/front/assets/img/Awareness3.jpg">
             <div class="case-overlay">
              <span>Awareness Programme </span>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="cases">
          <h3>Type of Cases Accepted </h3>
            <div class="view-all"><a href="#">View All</a></div>
          <div class="cases-inner">
            <img src="/front/assets/img/crime-seen.jpg">
            <div class="case-overlay">
              <p>Criminal Cases </p>
            </div>
          </div>
           <div class="cases-inner">
            <img src="/front/assets/img/civil.jpg">
            <div class="case-overlay">
              <p>Civil Cases </p>
            </div>
          </div>
           <div class="cases-inner">
            <img src="/front/assets/img/other-case.jpg">
            <div class="case-overlay">
              <p>Other Cases </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!--<section class="testimonial">
  <div class="container swiper-container swiper1">
    <div class="row swiper-wrapper">
      <div class="col-md-4 col-sm-4 col-xs-12  swiper-slide">
        <div class="testimonial-block">
            <div class="testimonial-img">
              <img src="/front/assets/img/ramesh-singh.jpg">
            </div>
            <div class="review"><img src="/front/assets/img/review.png"></div>
            <div class="testimonial-cont">
              <p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <strong>Dr. Ramesh Singh</strong>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12  swiper-slide">
        <div class="testimonial-block">
            <div class="testimonial-img">
              <img src="/front/assets/img/deepik.jpg  ">
            </div>
            <div class="review"><img src="/front/assets/img/review.png"></div>
            <div class="testimonial-cont">
              <p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <strong>Dr. Ramesh Singh</strong>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 swiper-slide">
        <div class="testimonial-block">
            <div class="testimonial-img">
              <img src="/front/assets/img/ranjeet.jpg">
            </div>
            <div class="review"><img src="/front/assets/img/review.png"></div>
            <div class="testimonial-cont">
              <p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <strong>Dr. Ramesh Singh</strong>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 swiper-slide">
        <div class="testimonial-block">
            <div class="testimonial-img">
              <img src="/front/assets/img/ranjeet.jpg">
            </div>
            <div class="review"><img src="/front/assets/img/review.png"></div>
            <div class="testimonial-cont">
              <p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <strong>Dr. Ramesh Singh</strong>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="arbitrators-panel">
  <div class="container">
    <ul class="clearfix">
      <li class="arbitrators-block block1 light-yellow">
        <div class="arbitrators-inner">
          <div class="arbitrators-heading"><small>An initiative of</small><span> Government of India</span></div>
          <p>Creation of ‘a vibrant ecosystem for institutional arbitration’ one of the ‘foremost priorities’ of our government, as it will not only add to investors' comfort level ...</p>
          <div class="read-more">  <a href="/pages/national-initiative-of-government">Read more<i class="fa fa-caret-right"></i></a></div>
        </div>
      </li>
      <li class="arbitrators-block block2 light-blue">
      <div class="arbitrators-inner">
          <div class="arbitrators-heading"><small>Diverting India </small><span>towards Arbitration</span></div>
          <p>In India, due to lack of permanent arbitration infrastructure, everyday lacs of disputes are approaching courts with the hope of justice but due to a huge pendency in courts people are suffering from delay...</p>
          <div class="read-more" style="">  <a href="/pages/diverting-india-towards-arbitration">Read more<i class="fa fa-caret-right"></i></a></div>
      </div>
      </li>
      <li class="arbitrators-block block3 light-blue">
        <div class="arbitrators-inner">
          <div class="arbitrators-heading"><small>About </small><br><span>Nyaya Portal</span></div>
          <p>This Portal has been developed to create an infrastructure for non-litigation practice and to support the national initiative of Government of India...</p>
          <div class="read-more">  <a href="/pages/nyaya-portal">Read more<i class="fa fa-caret-right"></i></a></div>
        </div>
      </li>
       <li class="arbitrators-block block4 light-yellow">
        <div class="arbitrators-inner">
        <div class="arbitrators-heading"><small>Arbitration</small><br/><span>Facilities Centre</span></div>
          <p> Under the name of National Arbitral Tribunal (NAT), we are opening institutional arbitration facilities centre at district level at Pan India level...</p>
          <div class="read-more">  <a href="pages/arbitration_facilities_centre">Read more<i class="fa fa-caret-right"></i></a></div>
        </div>
       </li>



       <li class="arbitrators-block block1 light-yellow">
        <div class="arbitrators-inner">
          <div class="arbitrators-heading"><small>A New Pathway </small><span>for Professionals</span></div>
          <p>In the present ever growing legal career and increased opportunities, why just to have a single practice? With a rapid shift from litigation to arbitration and with government’s efforts...</p>
          <div class="read-more">  <a href="/pages/pathway_for_professionals">Read more<i class="fa fa-caret-right"></i></a></div>
        </div>
      </li>
      <li class="arbitrators-block block2 light-blue">
      <div class="arbitrators-inner">
          <div class="arbitrators-heading"><small>Join Hands as  </small><span>Authorised Promoter</span></div>
          <p>Nyaya Portal under the name of National Arbitral Tribunal (NAT), is opening institutional arbitration facilities centre at district level starting from the state of Rajasthan and then expanding our services at Pan India level...</p>
          <div class="read-more">  <a href="/pages/join_hands_authorised_promoters">Read more<i class="fa fa-caret-right"></i></a></div>
      </div>
      </li>
      <li class="arbitrators-block block3 light-blue">
        <div class="arbitrators-inner">
          <div class="arbitrators-heading"><small>Cost of </small><br><span>Arbitration</span></div>
          <p> Nyaya Portal has worked hard to reduce the cost of arbitration and have developed few products to reduce the cost of arbitration up to 100% of arbitration and administrative fees...</p>
          <div class="read-more">  <a href="/pages/cost_arbitration">Read more<i class="fa fa-caret-right"></i></a></div>
        </div>
      </li>
       <li class="arbitrators-block block4 light-yellow">
        <div class="arbitrators-inner">
        <div class="arbitrators-heading"><small>Panel of </small><br/><span>Arbitrators</span></div>
          <p>The panel of arbitrators and experts maintained by National Arbitral Tribunal includes eminent personalities from all over the country. This eminent panel of National...</p>
          <div class="read-more">  <a href="pages/panel-of-arbitrators">Read more<i class="fa fa-caret-right"></i></a></div>
        </div>
       </li>
    </ul>
  </div>
</section>


<section class="video-section">
  <div class="container">
      <div class="row">
              <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="nyayacardWrap">
                  <img src="/front/assets/img/new-img/card-icon.png" alt="">
                    <div class="v-box">
                      <h3>Schedule of Fees</h3>
                      <!--<p>Nyaya Card is a premium product of Legal Resolution Centre Pvt. Ltd. (LRC) ...</p>-->
                      <a href="/pages/schedule-of-fees">Click Here... <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="nyayacardWrap">
                  <img src="/front/assets/img/new-img/member-icom.png" alt="">
                  <div class="v-box">
                    <h3>Fee Exemptions</h3>
                    <!--<p>Nyayaportal membership is open to all business entities, membership fees ...</p>-->
                    <a href="/pages/fee-exemptions">Click Here... <i class="fa fa-caret-right"></i></a>
                  </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
              <div class="video">
                <img src="/front/assets/img/new-img/video.png" width="810" height="513"></div>
            </div>
        </div>
    </div>
</section>
<section class="partner">
    <div class="container ">
      <div class="row">
        <div class="col-md-12">
          <div class="swiper-container swiper2">
            <ul class="partnerSlider swiper-wrapper">
              <li class="swiper-slide">
                <div class="quote">
                  <p>“I realized that the true function of a lawyer was to unite parties…A large part of my time during the 20 years of my practice as a lawyer was occupied in bringing about private compromises of hundreds of cases. I lost nothing thereby – not even money, certainly not my soul.”<p>
                  <strong>Mahatma Gandhi</strong>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="quote">
                  <p>“Only if alternative dispute resolution (ADR) becomes an integral part of the Indian justice system will we be able to truly safeguard the welfare of the common man in India.”<p>
                  <strong>Pranab Mukherjee, Former President of India</strong>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="quote">
                  <p>“Judges will popularise ADR mechanism to such an extent that all the civil cases and criminal cases of compoundable offences will come before the courts only when efforts fail to dispose them off by any of the mode of ADR mechanism.”<p>
                  <strong>Resolution passed by – All India Judges Association</strong>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="quote">
                  <p>“Creation of a vibrant ecosystem for institutional arbitration, is one of the foremost priorities of our Government.”<p>
                  <strong>Prime Minister Narendra Modi</strong>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
