<!-- breadcrumbs -->
<%# include ../element/breadcrumbs %>
<div class="breadcrumbWrap">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Forgot password</li>
        </ol>
    </div>
</div>
<!-- /breadcrumbs -->
<section class="Innerpage sectionForOtp" id="loadUi">
    <div class="container">
        <div class="form-wrapper">

            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="signupWrap">
                        <h1>Forgot Password</h1>
                        <form action="/users/forgot-password" method="post" enctype="multipart/form-data" id="forgot-password">
                            <div class="row ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Enter your registered email <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="email" name="email">
                                    <label class="errorMsg" id="email_error"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button id="submit" type="submit" class="btn btn-orange">Submit</button>
                                </div>
                            </div>
                        </form>
                        <div id="loading"><img src="/front/assets/img/loading.gif"></div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                   <div class="login-right register-right">
                       <img src="/front/assets/img/login-bg.jpg" alt="login">
                    <div class="login-right-txt register-right-txt">

                        <h2>Already Register</h2>

                        <a href="/users/login">Login</a>
                    </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
</script>
