<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>Full Name<span class="required">*</span></label>
        <input type="text" class="form-control" id="first_name" name="first_name">
        <label class="errorMsg" id="first_name_error"></label>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
        <label>Email Address<span class="required">*</span></label>
        <input type="text" class="form-control" id="email" name="email">
        <label class="errorMsg" id="email_error"></label>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
        <label>Mobile<span class="required">*</span></label>
        <input type="text" class="form-control" id="mobile" name="mobile">
        <label class="errorMsg" id="mobile_error"></label>
    </div>

</div>


<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <label>Password<span class="required">*</span></label>
        <input type="password" class="form-control" id="password" name="password">
        <label class="errorMsg" id="password_error"></label>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <label>Confirm Password<span class="required">*</span></label>
        <input type="password" class="form-control" id="password_confirm" name="password_confirm">
        <label class="errorMsg" id="password_confirm_error"></label>
    </div> 
</div> 