<!-- breadcrumbs -->
<%# include ../element/breadcrumbs %>
<div class="breadcrumbWrap">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Reset password</li>
        </ol>
    </div>
</div>
<!-- /breadcrumbs -->
<section class="Innerpage sectionForOtp" id="loadUi">
    <div class="container">
        <div class="form-wrapper">
           
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="signupWrap">
                        <h1>Reset password</h1>
                        <form action="/users/reset-password" method="post" enctype="multipart/form-data" id="reset-password">
                            <div class="row ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>New password <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="password" name="password">
                                    <label class="errorMsg" id="password_error"></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Confirm new password <span class="required">*</span></label>
                                    <input type="text" class="form-control" id="password_confirm" name="password_confirm">
                                    <label class="errorMsg" id="password_confirm_error"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="hidden" name="reset_password_token" value="<%= token %>">
                                    <button id="submit" type="submit" class="btn btn-orange">Submit</button>
                                </div>
                            </div>
                        </form>
                        <div id="loading"><img src="/front/assets/img/loading.gif"></div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                   <div class="login-right register-right">
                       <img src="/front/assets/img/login-bg.jpg" alt="login">
                    <div class="login-right-txt register-right-txt">
                       
                        <h2>Already Register</h2>
                       
                        <a href="/users/login">Login</a>
                    </div>
                 </div>  
                </div>
            </div>
        </div>
    </div>
</section>
<script>
</script>
