<div id="myModal_confirm_popup_nc" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog aa-popup">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">NYAYAPORTAL.IN</h4>
            </div>
                <div class="aa-body">
                            <span class="chk-outer">
                                 <input  type="checkbox" id="confirmation_checkbox_popup">
                                 <label for="confirmation_checkbox_popup"></label>
                            </span>
                            <p>CAUTION!</p>
                           <p>Be assure that your Lease deed (rent) or Leave and license agreement is made under the provisions of Transfer of Property Act,1882. The rent agreement made under the provisions of respective State Rent Control Act does not come under the jurisdiction of Arbitration.</p>
                  </div>
            <!--</div>-->
        </div>
        <div class="modal-footer"></div>

    </div>
</div>
