<div id="myModal_confirm_popup" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog aa-popup">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Self Declaration</h4>
            </div>
            <!--<div class="modal-body">-->

                    <div class="aa-body">
                            <span class="chk-outer">
                                 <input  type="checkbox" id="confirmation_checkbox">
                                 <label for="confirmation_checkbox"></label>

                            </span>
                           <p>I have received the Cash Payment from customer due to unavailability of Online Payment for which i am agreeing to pay as per <a href="/pages/payment-terms" target="_blank">Terms & Conditions</a> defined by Nyayaportal.in</p>
                            <!--I have received payment from customer and unavailability of online payment, I am doing Offline Payment, for which I am agreeing to pay as per <a href="javascript:void(0);" >Terms & Conditions</a> defined by Nyayaprotal.in-->

                    </div>
            <!--</div>-->
        </div>
        <div class="modal-footer"></div>

    </div>
</div>
