<section class="content-header">
    <h1><%= title %> <%= extraVar.titleName %><% if(typeof titleNameAfter != 'undefined' && titleNameAfter != ''){ %> <%= titleNameAfter %><% } %></h1>
    <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li></i> <%= extraVar.titleName %></li>
        <!--<li class="active"></li>-->
    </ol>
</section>