<div id="myModal_confirm_popup_single_tier" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog aa-popup">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">NYAYAPORTAL.IN</h4>
            </div>
                    <div class="aa-body">
                            <span class="chk-outer">
                                 <input  type="checkbox" id="confirmation_checkbox_popup_single_tier">
                                 <label for="confirmation_checkbox_popup_single_tier"></label>
                            </span>
                           <p>The parties are accepting the Arbitration Clause which provides a single arbitration only, whereby a party can appeal the result of arbitration in accordance with Arbitration and Conciliation (Amended) Act, 2015.</p>
                    </div>
            <!--</div>-->
        </div>
        <div class="modal-footer"></div>

    </div>
</div>
