<div id="myModal_confirm_popup_two_tier" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog aa-popup">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">NYAYAPORTAL.IN</h4>
            </div>
                        <div class="aa-body">
                            <span class="chk-outer">
                                 <input  type="checkbox" id="confirmation_checkbox_popup_two_tier">
                                 <label for="confirmation_checkbox_popup_two_tier"></label>
                            </span>
                           <p>The parties are accepting the Arbitration clauses which provides for a two- step arbitration, whereby a party can appeal the result of first arbitration to a second arbitration panel at National Arbitral Tribunal.</p>
                        </div>
            <!--</div>-->
        </div>
        <div class="modal-footer"></div>

    </div>
</div>
