$graybg:#f7f7f7;
$graycolor:#a1a1a1;
$darkgraycolor:#3d3d3d;
$bluebg:#267ec2;
$lightbluebg:#68a5d4;
$whitebg:#ffffff;
$lightgraybg:#eaeaea;
$topbordercolor:#ebebeb;
$linkcolor:#7d7d7d;
$whitecolor:#fff;
$orangebg:#e7a023;
$txtorange:#d96025;
$blackcolor:#000;
$headingcolor:#383838;
$footerbg:#212121;
$footerlinkcolor:#cccccc;
$boldfont:800;
$regfontweight:400;
$bigfont:36px;
$regfont:15px;
$font16:16px;
$font25:25px;
$font20:20px;
$font18:18px;
$font30:30px;
$font13:13px;
$pad25:25px 0;
$marbot:15px;
$marbot1:45px;

