<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Accelerating Non-Litigation Practice</h1>
        <p>Nyaya Portal is developed to create an infrastructure for non-litigation practice and to support

the national initiative of Government of India which is <strong>&quot;Strengthening Arbitration and its

enforcement In India&quot;</strong>.</p>
        
        <p>Nyaya Portal is India’s first Pan India platform for Non-litigation practice and now open for

professionals such as:</p>

        <ul><li>Lawyers</li>
        <li>Chartered Accountants</li>
        <li>Company Secretaries</li>
        <li>Tax Practitioners</li>
        <li>Business Administrators</li>
        <li>Engineers</li>
        <li>Business Analysts</li>
        <li>Banking and Finance Professionals</li>
        <li>Debt Collectors</li>
        <li>Insurance Agents</li>
        <li>Architects</li>
        <li>Technical Experts</li>
        <li>Foreign trade experts etc.</li></ul>
        
        <p>Worldwide the culture of non-litigation practice is at it’s peak and all developed countries have adopted private dispute resolution mechanism, 95% of civil &amp; commercial disputes are resolved through non-litigation methods. <strong>Now, after great delay</strong> India is also diverting towards Non-Litigation practices and day by day its scope of practice is evolving.</p>

        <p>To grab the opportunity of this new practicing field, we have launched this e-platform for non-litigation practice. Non-litigation practice is a new concept in India and this field has major scope for professionals to serve their clients with a more efficient commercial/civil dispute resolving mechanism. It&#39;s a new practicing field for professionals and we are focused on providing innovative services in context of non-litigation practice to all associated professionals that enhance profitability, workflow and efficiency along with their routine practice.</p>

        <p>Nyaya Portal is a single window access to empower the institutional arbitration mechanism, towards strengthening and revolutionising the arbitration industry in India.</p>

        <p>Nyaya Portal is India’s most affordable mechanism for institutional arbitration services, and it will emerge as largest institutional arbitration network in India in coming time, we have already planned to expand our services at PAN India level.</p>

        <p>We have developed Nyaya Portal as a junction for all stakeholders like clients, professionals, arbitrators, institutes etc. Majority of corporate sector, government sector, bankers, financers, construction companies, entrepreneurs etc. prefer arbitration over litigation.</p>

        <p>Nyaya Portal aims to offer a range of best-value products and services to justice seekers along with dedicated customer support. Nyaya Portal provides an effective and efficient alternative window for dispute resolution.</p>

        <p><strong>To grab the opportunity, <a href="/users/register">sign up Now</a>.</strong> </p>
    </div>
</section>