<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Adopt arbitration, Adapt to the future</h1>

        <p>Businesses can secure themselves from any legal uncertainties which can arise during the course of business by adopting arbitration as the mode of dispute resolution instead of time taking, expensive and unending litigation.</p>
        
        <p>Arbitration is preferred mode of commercial dispute resolution as it is quick, hassle free, effective and efficient. The majority of Government departments such as C.P.W.D., Indian Railways, Defence Ministry, National Highway Authorities, Electricity department, Telecom department etc., Business groups like Reliance, Airtel, Tata group of companies, Aditya Birla Group, ONGC etc., Banking and finance Sector, automobile sector resolves their commercial disputes through arbitration.</p>
        
        <p>Till now in India arbitration was considered as expensive and the resources for arbitration were limited to metro cities only. Now, Nyaya Portal is diverting the business entities of all sizes whether small or big towards arbitration by reducing its cost and providing resources at district level.</p>
        
        <p>To bring arbitration in reach of all business entities Nyaya Portal has launched first of its kind Membership Plans for all level of businesses which will save the valuable time and money.</p>
        
        <ul><li><strong>To Save Your time –</strong> <br>We have developed the online arbitration facility which will save 80% of the time consumed in offline arbitration proceeding.</li>
        <li><strong>To Save Your Money – </strong> <br>Under Nyaya Portal’s membership plans, businesses can avail huge exemptions on the arbitration fee which is up to INR 11,00,000</li></ul>

        <p><strong>To know more about Nyaya Portal’s Membership Plans :</strong> <a href="/pages/membership">Click Here</a></p>

    </div>
</section>