<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
    	<h1>Appealable Orders</h1>

    	<p>An appeal against the arbitral award shall lie under the provision of Section 37 Arbitration and Conciliation (Amended) Act, 2015. However, recently in <i>M/S Centrotrade Minerals and Metal Inc v Hindustan Copper Ltd (Civil Appeals No. 2562 and 2564 of 2006)</i> the Supreme Court of India held that the settlement of disputes or differences through a two-tier arbitration procedure (whereby a party can appeal the result of arbitration to a second arbitration panel) is lawful under Indian law.</p>

    	<p>The court held that there was nothing in the Arbitration and Conciliation Act, 1996 (1996 Act) that precluded the parties from agreeing that an award could be referred to a second panel of arbitrators by way of an appeal, with the result of that appeal being subject to the challenge procedure provided by the 1996 Act.</p>

    	<p><strong>Section 37. Appealable orders.</strong></p>

    	<ol>
    		<li>An appeal shall lie from the following orders (and from no others) to the Court authorised by law to hear appeals from original decrees of the Court passing the older, namely:-
    			<ol>
    				<li>Refusing to refer the parties to arbitration under section 8;</li>
    				<li>Granting or refusing to grant any measure under section 9;</li>
    				<li>Setting aside or refusing to set aside an arbitral award under section 34.</li>
    			</ol>
    		</li>
    		<li>Appeal shall also lie to a court from an order of the arbitral tribunal-
    			<ol>
    				<li>accepting the plea referred to in sub-section (2) or sub-section (3) of section 16; or</li>
    				<li>granting or refusing to grant an interim measure under section 17.</li>
    			</ol>
    		</li>
    		<li>No second appeal shall lie from an order passed in appeal under this section, but nothing in this section shall affect or take away any right to appeal to the Supreme Court.</li>
    	</ol>
    </div>
</section>
