<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Appointment of Arbitrators</h1>
    	<p>If the arbitration agreement provided that the arbitration should be conducted in accordance with the arbitration rules of National Arbitral Tribunal, the number and mode of appointment of arbitrators would be determined in accordance with the arbitration rules of the National Arbitral Tribunal.</p>
    </div>
</section>