<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Arbitration Facilities Centre</h1>


        <p>
        Under the name of National Arbitral Tribunal (NAT), we are opening institutional arbitration facilities centre at district level at Pan India level. 
        </p>

        <p> 
        Arbitration facilities centres will provide services such as submitting the claim, registration of disputes, conducting hearings etc. Every centre will have a team of highly qualified professionals who will help the clients in resolving their disputes in fast and efficient manner. The centres will also have a panel of arbitrators consisting of retired Supreme Court, High Court, District Court Judges, subject experts etc. Also these arbitration centres will be well equipped with the modern day technologies such as video conferencing, audio-video recording, stenographer, photo copying, internet facilities etc. state of art infrastructure with conference rooms, arbitration court rooms, waiting lounge, libraries etc. 
        </p>

        <p>
        These centres will be opened keeping in mind the demand of the legal community in a particular district, and to carter the ongoing demand we are providing online arbitration facilities.
        </p>

<!--        </p>
        An attempt has been made through this Portal to create a comprehensive ecosystem which will provide accurate, reliable and one stop source of institutional arbitration services and its various facets. It aims to offer a range of best-value products and services to justice seekers along with dedicated customer support. Nyaya Portal provides an effective and efficient alternative window for dispute resolution.    
        </p>-->

        <p>
        To create such a large infrastructure we have created two products i.e. Nyaya Card and Nyaya Portal Membership by purchasing these products clients can avail the facilities of arbitration centres at a very affordable cost and resolve their disputes in a speedy manner.     
        </p>


        <h4>Similarities between Court order and Arbitration order</h4>

        <p>
        Order: In the eyes of the law there is no distinction between a court order and an arbitration order. Any order issued by the arbitral tribunal for grant of interim measures under Section 17 of Arbitration and Conciliation (amended) Act,2015 shall be deemed to be an order of the court for all purposes and shall be enforceable under the Code of Civil Procedure,1908 in the same manner as if it were an order of the court.     
        </p>


        <p>
        Judgement: There is no difference between court judgement (decree) and arbitration award (decree), an arbitration award shall be enforced under Section 36 of Arbitration and Conciliation (Amended) Act, 2015 in accordance with the provision of Code of Civil Procedure, 1908 (5 of 1908), in the same manner as it were a decree of the court.    
        </p>


    </div>
</section>
