<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/home_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
    	<h1>Clients</h1>
        <div class="row">
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/hill-law.jpg" alt="client">
        			</div>
        			<div class="client-name">Hill law</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/polanco.jpg" alt="client">
        			</div>
        			<div class="client-name">polanco</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/jacobson.jpg" alt="client">
        			</div>
        			<div class="client-name">jacobson</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/law-office.jpg" alt="client">
        			</div>
        			<div class="client-name">law-office</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/hacker.jpg" alt="client">
        			</div>
        			<div class="client-name">hacker law firm</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/hill-law.jpg" alt="client">
        			</div>
        			<div class="client-name">Hill law</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/polanco.jpg" alt="client">
        			</div>
        			<div class="client-name">polanco</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/jacobson.jpg" alt="client">
        			</div>
        			<div class="client-name">jacobson</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/law-office.jpg" alt="client">
        			</div>
        			<div class="client-name">law-office</div>
        		</div>

        	</div>
        	<div class="col-md-3 col-sm-3 col-xs-6">
        		<div class="client-block">
        			<div class="client-img">
        				<img src="/front/assets/img/hacker.jpg" alt="client">
        			</div>
        			<div class="client-name">hacker law firm</div>
        		</div>

        	</div>
        	
        	
        </div>
    </div>
</section>