<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Cost of Arbitration</h1>


        <p>
        Nyaya Portal has worked hard to reduce the cost of arbitration and have developed few products to reduce the cost  up to 100% of arbitration and administrative fees.
        </p>

        <p> 
        The clients can refer their matters at the post – dispute stage as well where the cost of arbitration will be calculated according to Schedule -1 of National Arbitral Tribunal (Procedural) Rules. 
        </p>

        <p>
        At a pre- dispute stage the clients can purchase our products through the registered professionals on Nyaya Portal. 
        </p>

        <p>
        <strong> To avail 100% exemptions on arbitration and administrative fees –</strong> the clients can purchase Nyaya Card for their single/individual contractual transaction by paying a nominal fee at the pre – dispute stage. After purchasing the Nyaya Card, in case if any dispute arises in the future will be 100% exempted from the arbitration and administrative fees.
        </p>

        <p>
        <strong> To avail upto 50% exemptions on arbitration and administrative fees –</strong> the corporate/business entities can become a member of Nyaya Portal by purchasing the Nyaya Portal’s membership. Our Membership enables the members in case of any dispute avail upto 50% exemptions on the above said fees, on irrespective number of disputes referred to National Arbitral Tribunal during the valid period of the membership.      
        </p>



    </div>
</section>
