<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Dispute Redressal System in India</h1>

        <h5>The dispute resolution process in India mainly involves the following :</h5>

        <ul>
        	<li><strong>Litigation</strong></li>
        	<li><strong>Arbitration</strong></li>
        	<li><strong>Lok Adalat</strong></li>
        	<li><strong>Mediation</strong></li>
        </ul>

        <ol>
        	<li>Litigation in India is based on common law. Litigation is commenced by filing a plaint in a court of competent territorial and pecuniary jurisdiction. Litigating in India is known to be a very slow process of justice. A suit in our country generally takes five to ten years to reach trial.</li>
        	<li>Arbitration is known as non-litigation procedure and arbitration process is based on Arbitration and Conciliation (Amended) Act, 2015 broadly in arbitration; the arbitrator hears evidence and makes a decision. Arbitration is like the court process, where parties provide testimony and give evidence, as in a court trial. However, it is usually less formal. In India, arbitration mechanism is on grass-root levels in comparison to global scenario.</li>
        	<li>Lok Adalat’s process is governed under Legal Service Authority Act, 1987. In pending matters, the court with the consent of parties refers the matter to Lok Adalat where litigants mutually reach a conclusion and accordingly they can seek the awards. Lok Adalat is a well-established system across India.</li>
        	<li>Mediation- This process is governed under Legal Service Authority Act, 1987 mediation is a dynamic, structured, interactive process where a neutral third party assists disputing parties in resolving conflict using specialized communication and negotiation techniques.</li>
        </ol>

        <p>Conclusion: The control of litigation, mediation and Lok Adalat is with the court of law but arbitration is totally private dispute redressal system which has no intervention from the government or the court of law. Looking at its flexibility and ease of access, the public is interested in arbitration mechanism however; the facility of institutional arbitration is not available easily across the country.</p>

    </div>
</section>
