<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Disputes under the jurisdiction of Arbitration</h1>

        <p>All disputes of civil or quasi civil nature fall within the jurisdiction of arbitration.</p>

        <ol class="alpha-list"><li>Almost all disputes – commercial, civil, labour and family disputes in respect of which the parties are entitled to conclude a settlement – can be settled by Arbitration Procedure.</li>
        <li>Disputes involving joint ventures, construction projects, partnership differences, intellectual property rights, personal injury, product liabilities, professional liability, real estate, contract interpretation and performance, banking &amp; non-banking transaction disputes fall within the jurisdiction of arbitration.</li>
        <li>Arbitration is expanding to the areas of construction, health care, telecommunication, entertainment and technology based industries.</li>
        <li>Any Civil matter that are pending before the Civil court.</li>
        <li>Any matter related to Government Contract /Tenders/MOUs/ Joint Ventures.</li>
        <li>Disputes between Employee and Employer regarding services and disputes related to Section 10-A of the Industrial Dispute Act, 1947.</li></ol>

    </div>
</section>
