<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
    	<h1>Mission: Diverting India towards Arbitration</h1>
    	<!-- <h3><i>NEW INDIA: LITIGATION FREE INDIA</i></h3> -->

        <p>In India, due to lack of permanent arbitration infrastructure, everyday lacs of disputes are approaching courts with the hope of justice but due to a huge pendency in courts people are suffering from delay in justice and they are losing their hard-earned money, valuable time and facing burden of uncertainty. Now after a great delay, India with the efforts of Government is moving towards adopting arbitration, with this we have made our mission and have taken responsibility to divert India towards arbitration.</p>

		<p>The fast and rapid shift from litigation to arbitration is reflected in the actions of the government who is the ‘biggest litigant’ in the country by being a party in 46% cases out of 3 crore pending cases. The Government of India and various State Governments through regular notifications has asked all the departments to adopt arbitration instead of litigation. This will have a major impact on the fresh and on-going litigation to move towards arbitration generating new and huge opportunities for professionals like lawyers/Charted Accountants/ Company Secretaries/ Tax Practitioners/MBA’s etc.</p>

		<p>Nyaya Portal will help in reducing the burden of the courts and cater this huge shift from litigation to arbitration, by providing a Pan India level infrastructure for institutional arbitration. </p>

    </div>
</section>