<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Facets of our Web Portal</h1>
        <ul>
            <li><strong>E-KYC</strong>
                <ol><li>Nyaya Portal is equipped with e-KYC service which provides a robust mechanism to verify the identity of a person electronically and instantaneously from the source itself, based on the biometrics of a person. Thus, it takes care of the issues relating to fake or forged identity proof and manual entry into the system.</li></ol></li>
            <li><strong>E-Signature</strong>
                <ol><li>Nyaya Portal has integrated the Aadhar based E-Signature facility which help users to sign the documents electronically, this facility ensures a hassle free paper work for our users, the process of creating and verifying a digital signature provide a high level of assurance to the involved parties that the e-signature is genuinely the signatory, and that the electronic document is authentic. Nyaya Portal users can submit their all type of documents and sign them through e-signature facility.</li>
            <li>An electronic document signed with a digital signature can stand up in court just as well as any other signed paper document. Signing an electronic document digitally identifies you as the signatory and that cannot be later denied.</li></ol></li>
            <li><strong>E-Payment</strong>
                <ol><li>Nyaya Portal provides a secure payment gateway. Fees and charges for arbitration services can be paid using electronic payment methods such as through net banking, debit/credit cards etc. using payment gateway available at our portal.</li></ol></li>
            <li><strong>E-Filing</strong>
                <ol><li>We&#39;ve made filing cases and documents an extremely easy process. e-filling is way by which documents are exchanged between the parties involved in arbitration through an secure environment. Only the parties and arbitrator involved in arbitration can access this environment with their passwords. All documents are managed digitally which saves copying costs and postage. The electronically uploaded documents can further be e-signed by the users to authenticate those documents. There is a clear advantage with arbitrations, as time/location differences don’t count, while all parties involved can access the available documents at the same time.</li></ol></li>
            <li><strong>E-Reporting</strong>
                <ol><li>At Nyaya Portal, users can access the reports of their claims/cases/agreement time to time bases, this helps our users to evaluate their progress in cases/claims and keep a check.</li>
                <li>Electronic reporting makes a massive amount of data readily available to the user. Data that can be searched, filtered and refined to allow the user to compare information, analyse content, and make conclusions. This increases accessibility to and transparency of information at Nyaya Portal.</li></ol></li>
            <li><strong>E-Communication</strong>
                <ol><li>Nyaya Portal has integrated all the latest means of communication such as automatic system generated alerts in forms of SMS and E-mails regarding the proceedings and such as schedule of hearing dates etc. which provides users to get notified whenever it is required, users can even communicate to the stakeholders of matter/ customer support and other relevant people on our portal. These communications will be secured and confidential.</li></ol></li>
            <li><strong>E-Dashboard</strong>
                <ol><li>All stakeholders will have their dashboards, which will provide the complete access to their profile through which they can perform various functions such as filing claims/ case, making agreements, taking reports, communicating their respective lawyers/arbitrators, seeking support through customer care etc. This dashboard will be dynamic in nature and has a user-friendly interface.</li>
                <li>These are the various dashboards which will be provided at Nyaya Portal –
                    <ol><li>Claimant Dashboard</li>
                    <li>Respondent Dashboard</li>
                    <li>Lawyer’s Dashboard</li>
                    <li>Arbitrator Dashboard</li>
                    <li>Administrator Dashboard</li></ol>
                </li></ol>
            </li>
        </ul>

    </div>
</section>
