<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Enforcement of Arbitral Award</h1>

        <p>Award passed by National Arbitral Tribunal shall be enforced under Section 36 of Arbitration and Conciliation (Amended) Act, 2015 in accordance with the provision of Code of Civil Procedure, 1908 (5 of 1908), in the same manner as it were a decree of the court.</p>

        <h2>Section 36. Enforcement.</h2>

        <ol>
        	<li>Where the time for making an application to set aside the arbitral award under section 34 has expired, then, subject to the provisions of sub-section (2), such award shall be enforced in accordance with the provisions of the Code of Civil Procedure, 1908, in the same manner as if it were a decree of the court.</li>
        	<li>Where an application to set aside the arbitral award has been filed in the Court under section 34, the filing of such an application shall not by itself render that award unenforceable, unless the Court grants an order of stay of the operation of the said arbitral award in accordance with the provisions of sub-section (3), on a separate application made for that purpose.</li>
        	<li>
        		<p>Upon filing of an application under sub-section (2) for stay of the operation of the arbitral award, the Court may, subject to such conditions as it may deem fit, grant stay of the operation of such award for reasons to be recorded in writing: Amendment of section 34. Substitution of new section for section 36. Enforcement. 5 of 1908.</p>
                <strong>Provided</strong> that the Court shall, while considering the application for grant of stay in the case of an arbitral award for payment of money, have due regard to the provisions for grant of stay of a money decree under the provisions of the Code of Civil Procedure, 1908.”.</p>
        	</li>
        </ol>
    </div>
</section>
