<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content faqs faq-section">
    <div class="container">
      <h1>Frequently Asked Questions</h1>

      <div class="panel-group" id="faq">
        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#1" aria-expanded="true">1. What is Arbitration? <i class="fa fa-plus"></i></a>
					</div>
          <div id="1" class="panel-collapse collapse in">
            <div class="panel-body">
              Arbitration is an alternative method of dispute resolution according to which the dispute is referred to one or more arbitrators who are empowered to finally settle it by rendering a final and legally binding judgment.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#2">2. What is ADR? <i class="fa fa-plus"></i></a>
					</div>
          <div id="2" class="panel-collapse collapse">
            <div class="panel-body">
              ADR is commonly known as Alternative Dispute Resolution methods. Such methods mainly comprise Arbitration, Mediation and Conciliation. In certain institutions, ADR means Amicable Dispute Resolution methods.
						</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#3">3. Why Arbitration? <i class="fa fa-plus"></i></a>
					</div>
          <div id="3" class="panel-collapse collapse">
            <div class="panel-body">
              In arbitration, both parties could elect the rules governing the arbitral proceedings, the law applicable to the merits of the dispute, the place of arbitration, the language(s) of arbitration, the number and the qualifications of arbitrators. Arbitration is usually faster than litigation before courts. Arbitral awards are final and binding on the parties (i.e. could not be revised on the merits); Parties can be only challenged for very limited causes all related to the procedures. Furthermore, arbitration is confidential; the arbitral awards could not be published unless after obtaining the prior written approval of the parties.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#4">4. Which disputes could be settled by Arbitration? <i class="fa fa-plus"></i></a>
					</div>
          <div id="4" class="panel-collapse collapse">
            <div class="panel-body">
              As a general rule, arbitration agreements could be concluded to settle all types of civil and commercial disputes except those related to matters that could not be the subject of an amicable compromise. Criminal matters as well as issues related to marital status are typical examples of disputes that could not be settled by arbitration.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#5">5. What are the types of Arbitration? <i class="fa fa-plus"></i></a>
					</div>
          <div id="5" class="panel-collapse collapse">
            <div class="panel-body">
              Arbitrations are classified according to their nature into institutional arbitration and ad- hoc arbitration. Institutional arbitration are the ones that are administered under the auspices and according to the rules of an arbitral institution, while ad-hoc do not have any set procedure.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#6">6. Who could conclude an arbitration agreement? <i class="fa fa-plus"></i></a>
					</div>
          <div id="6" class="panel-collapse collapse">
            <div class="panel-body">
              As a general rule, natural or juridical persons having capacity to dispose of their rights could conclude arbitration agreements. In case such persons are not directly or personally involved, a special power of attorney would generally be required in order for their legal representatives to conclude a valid arbitration agreement.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#7">7. What are the types of arbitration agreements? <i class="fa fa-plus"></i></a>
					</div>
          <div id="7" class="panel-collapse collapse">
            <div class="panel-body">
              Arbitration agreements could generally take the form of either an arbitration clause inserted in a contract before the dispute arises or a separate agreement concluded between the parties after the dispute has arisen. In both cases, the arbitration agreement should be in writing.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#8">8. Do courts have jurisdiction in the presence of an arbitration agreement? <i class="fa fa-plus"></i></a>
					</div>
          <div id="8" class="panel-collapse collapse">
            <div class="panel-body">
              In presence of arbitration agreement, courts do not have jurisdiction to settle such dispute.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#9">9. What is an Arbitral Tribunal? <i class="fa fa-plus"></i></a>
					</div>
          <div id="9" class="panel-collapse collapse">
            <div class="panel-body">
              An arbitral tribunal is a panel of one or more arbitrators (an odd number) composed according to the agreement of the parties in order to finally settle the dispute. In case the number of arbitrators is three, the arbitral tribunal is usually composed as follows :
              <p>Each party nominates an arbitrator and the two appointed arbitrators appoint the third arbitrator, who shall preside the arbitral tribunal.</p>
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#10">10. Can anyone act as an Arbitrator? <i class="fa fa-plus"></i></a>
					</div>
          <div id="10" class="panel-collapse collapse">
            <div class="panel-body">
              As a general rule, the Arbitrator must not be a minor, subject to interdiction or deprived of his civil rights. The arbitrators need not be of a specific sex or nationality or religion unless otherwise provided by agreement between the parties or by provision of law. An arbitrator should accept the mission entrusted to him in writing and should disclose any circumstances that may cast doubts with respect to his impartiality and independence.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#11">11. How much does Arbitration cost? <i class="fa fa-plus"></i></a>
					</div>
          <div id="11" class="panel-collapse collapse">
            <div class="panel-body">
              In institutional arbitrations, arbitration costs generally comprise registration fees, administrative fees and arbitrators' fees. The calculation of the last two fees is usually made as a percentage of the sum in dispute.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#12">12. How could arbitral awards be enforced? <i class="fa fa-plus"></i></a>
					</div>
          <div id="12" class="panel-collapse collapse">
            <div class="panel-body">
              As a general rule, arbitral awards enjoy the authority of res judicata and could be forcibly executed against the losing party after obtaining an enforcement order (exequatur) from the competent court. The award made by the arbitrator under National Arbitral Tribunal (Procedural) Rules is enforceable under the Code of Civil Procedure, 1908 in the same manner as if the decree of the court in view of Sec. 36 read with 2(i) (a) of the A&C act 2015.
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#13">13. What are the advantages of Arbitration? <i class="fa fa-plus"></i></a>
					</div>
          <div id="13" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Advantages of Arbitration are :</p>
            	<ul>
            		<li><strong>Cost effective</strong> :- than the regular court proceedings as there is no hidden fees and all the fees are fixed and are very nominal in comparison with regular court proceedings, which includes huge expenses of court fees.</li>
            		<li><strong>Speedy</strong> :- than the regular court proceedings which takes years (time taken in trial proceedings which is about 5-10 years, similarly in High Court and Supreme Court which is about 5-10 years, total time taken is about 10-20 years in attaining the finality of the matter) whereas the Arbitration proceedings are completed within time bound period of 12 months or may be extended to maximum 06 months only.</li>
            		<li><strong>Finality</strong> :- Arbitration Award is final and binding on the parties.</li>
            		<li><strong>No second appeal</strong> lies against the Award passed by the Arbitrator.</li>
            	</ul>
						</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapse-header">
						 <a class="panel-title" data-parent="#faq" data-toggle="collapse" data-target="#14">14. What are the benefits of the Arbitration at the National Arbitral Tribunal ? <i class="fa fa-plus"></i></a>
					</div>
          <div id="14" class="panel-collapse collapse">
            <div class="panel-body">
              <p><strong>Advantages of Arbitration at National Arbitral Tribunal are as under :-</strong>
            	<ul>
            		<li>A neutral platform providing fair and impartial hearings.</li>
            		<li>Availability of pre-established rules and procedures which ensure the arbitration proceedings begin in a timely manner.</li>
            		<li>Panel list of highly qualified, experienced legal luminaries as arbitrators; (mostly are former judges of Supreme Court, High Courts and District Courts).</li>
            		<li>Assistance in encouraging reluctant parties to proceed with arbitration.</li>
            		<li>An established format with a proven record.</li>
            		<li>Fix fee for Arbitrator and Institution.</li>
            		<li>Well maintained and updated e-library.</li>
            		<li>Awards are passed in stipulated time (maximum one year).</li>
            		<li>Registration Fee as well as administrative fee and Arbitrator’s fee are most reasonable in comparison to any other arbitration institutes.</li>
            		<li>One of the largest panel of ex- judicial authorities of India.</li>
            	</ul>
						</div>
          </div>
        </div>

      </div>


    </div>
</section>
