<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Fast Track Procedure</h1>

        <p>National Arbitral Tribunal provides fast track hearing procedure which is mentioned under Section 29-B of Arbitration and Conciliation (Amended) Act, 2015 provides for a fast track procedure for conducting arbitral proceedings, in cases where the parties mutually agree for such procedure. In such cases, the arbitral tribunal consisting of a sole arbitrator shall decide the dispute on the basis of written pleadings, documents and written submission and shall not hold oral hearing. The award is to be made within a period of six months from the date the arbitral tribunal enters upon the reference.</p>

        <h2>Section 29B Fast Track Procedure :</h2>

        <ol>
        	<li><p>Notwithstanding anything contained in this Act, the parties to an arbitration agreement, may, at any stage either before or at the time of appointment of the arbitral tribunal, agree in writing to have their dispute resolved by fast track procedure specified in sub-section (3).</p></li>
        	<li><p>The parties to the arbitration agreement, while agreeing for resolution of dispute by fast track procedure, may agree that the arbitral tribunal shall consist of a sole arbitrator who shall be chosen by the parties.</p></li>
        	<li>
        		<p>The arbitral tribunal shall follow the following procedure while conducting arbitration proceedings under sub-section (1) :</p>
        		<ol>
        			<li><p>The arbitral tribunal shall decide the dispute on the basis of written pleadings, documents and submissions filed by the parties without any oral hearing.</p></li>
        			<li><p>The arbitral tribunal shall have power to call for any further information or clarification from the parties in addition to the pleadings and documents filed by them.</p></li>
        			<li><p>An oral hearing may be held only, if, all the parties make a request or if the arbitral tribunal considers it necessary to have oral hearing for clarifying certain issues.</p></li>
        			<li><p>The arbitral tribunal may dispense with any technical formalities, if an oral hearing is held, and adopt such procedure as deemed appropriate for expeditious disposal of the case.</p></li>
        		</ol>
        	</li>
        	<li><p>The award under this section shall be made within a period of six months from the date the arbitral tribunal enters upon the reference.</p></li>
        	<li><p>If the award is not made within the period specified in sub-section (4), the provisions of sub-sections (3) to (9) of section 29A shall apply to the proceedings.</p></li>
        	<li><p>The fees payable to the arbitrator and the manner of payment of the fees shall be such as may be agreed between the arbitrator and the parties.’’.</p></li>
        </ol>
    </div>
</section>
