<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/home_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>FRANCHISEE COORDINATOR OR NYAYAMITRA</h1>
		

		<p>Nyaya Portal is The First leading permanent arbitration Institute of India, constituted under the provisions of Arbitration and Conciliation Amended Act, 2015 to provide the low-cost speedy justice through the arbitration mechanism. Indian courts have a huge pendency and justice seekers are suffering from delays. Arbitration is private dispute Redressal system. To encourage the arbitration throughout country, Nyaya portal is ongoing to open permanent arbitral tribunal at district level. To Arbitrate the disputes Nyaya Portal have a dedicated National panel of Former Supreme court, high court and district court judges. Nyayaportal intends to appoint franchisees at (such places where courts are already functioning) at Tehsil/district/state levels for facilitating and promoting arbitration service to the justice seekers of that region.</p>

		<p>To achieve this goal, Nyaya Portal invites applications for Franchise opportunities from all Tehsil/districts/states of India.</p>

		<p>Interested Parties, please provide the following details in email :</p>

		<p>Full Name, Age, Qualification, Address, Phones (Land Line & Cell), Present Business/Activity, Turnover, Valid Address Proof, Investment capacity, interested State/City for Franchise.</p>
    </div>
</section>