<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Institutional Arbitration vs Ad-Hoc Arbitration</h1>

        <p>National Arbitral Tribunal is an permanent institute which provides Institutional Arbitration Services. Advantages of Institutional Arbitration over ad-hoc arbitration are as under:</p>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr valign="middle">
                        <th style="text-align: left;">Aspect of procedure</th>
                        <th>Institutional Arbitration</th>
                        <th>Ad hoc Arbitration</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="text-align: left;">Appointment of arbitrator</td>
                              <td>The Institutional Arbitration rules provide precise timelines for the appointment of the tribunal in various scenarios (sole arbitrator, three arbitrators, multiparty proceeding etc.).</td>
                              <td>Parties have to approach the courts to secure arbitrator appointments.</td></tr>
                              <tr><td style="text-align: left;">Arbitrator challenges</td>
                              <td>The Institutional Arbitration rules have provisions dealing with the challenge of arbitrator and if necessary, the replacement of the arbitrator(s).</td>
                              <td>Parties will have to approach the courts to challenge arbitrator(s) and seek a replacement. This can lead to delays and costs.</td></tr>
                              <tr><td style="text-align: left;">Fees</td>
                              <td>The Institutional Arbitration rules provide an upfront fee schedule, which define an upper limit for arbitrators&#39; fees as well the Institutional Arbitration administrative fee.</td>
                              <td>Parties may have to negotiate the fees with the arbitrator(s).</td></tr>
                              <tr><td style="text-align: left;">Supervision of arbitration proceedings</td>
                              <td>The Institutional Arbitration secretariat and the council supervise the conduct of arbitration proceedings under the Institutional Arbitration rules.</td>
                              <td>There is no institutional supervision of proceedings.</td></tr>
                              <tr><td style="text-align: left;">Consolidation of proceedings</td>
                              <td>The Institutional Arbitration rules have specific provisions dealing with the consolidation of proceedings.</td>
                              <td>No such procedure is available, which may lead to conflicting awards and/or increased costs.</td></tr>
                              <tr><td style="text-align: left;">Appointment of emergency arbitrator for urgent interim relief</td>
                              <td>The Institutional Arbitration rules provide a mechanism for the appointment of an emergency arbitrator to grant interim relief in appropriate circumstances.</td>
                              <td>Parties will have to approach a court of law to seek interim relief, before the appointment of the arbitral tribunal.</td></tr>
                              <tr><td style="text-align: left;">Scrutiny of awards</td>
                              <td>The Institutional Arbitration rules provide for scrutiny of draft awards, so that the Institutional Arbitration registrar can suggest modifications to the form of the draft award (without affecting the tribunal’s liberty of decision).</td>
                              <td>There is no scrutiny of awards process in an ad hoc arbitration.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
