<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Interim Measures</h1>

        <p>The National Arbitral Tribunal shall have power to grant all kinds of interim measures under Section 17 of the Arbitration and Conciliation (Amended) Act, 2015. Such interim measures can be granted by the arbitral tribunal during the arbitral proceedings or at any time after making the arbitral award, but before it is enforced under section 36 of the Act 2015. Any order issued by the arbitral tribunal for grant of interim measures shall be deemed to be an order of the Court for all purposes and shall be enforceable under the Code of Civil Procedure, 1908 <u>in the same manner as if it were an order of the Court</u>.</p>

        <h2>Section 17- Interim measures ordered by arbitral tribunal :</h2>

        <ol>
        	<li>A party may, during the arbitral proceedings or at any time after the making of the arbitral award but before it is enforced in accordance with section 36, apply to the arbitral tribunal—

        		<ol>
        			<li>for the appointment of a guardian for a minor or person of unsound mind for the purposes of arbitral proceedings; or</li>
        			<li>
        				for an interim measure of protection in respect of any of the following matters, namely: —

        				<ol>
        					<li>the preservation, interim custody or sale of any goods which are the subject-matter of the arbitration agreement;</li>
        					<li>securing the amount in dispute in the arbitration;</li>
        					<li>the detention, preservation or inspection of any property or thing which is the subject-matter of the dispute in arbitration, or as to which any question may arise therein and authorising for any of the aforesaid purposes any person to enter upon any land or building in the possession of any party, or authorising any samples to be taken, or any observation to be made, or experiment to be tried, which may be necessary or expedient for the purpose of obtaining full information or evidence;</li>
        					<li>interim injunction or the appointment of a receiver;</li>
        					<li>such other interim measure of protection as may appear to the arbitral tribunal to be just and convenient, and the arbitral tribunal shall have the same power for making orders, as the court has for the purpose of, and in relation to, any proceedings before it.</li>
        				</ol>
        			</li>
        		</ol>
        	</li>
        	<li>Subject to any orders passed in an appeal under section 37, any order issued by the arbitral tribunal under this section shall be deemed to be an order of the Court for all purposes and shall be enforceable under the Code of Civil Procedure, 1908, in the same manner as if it were an order of the Court.</li>
        </ol>
    </div>
</section>