<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Join us as Authorised Promoter</h1>
        <p>National Arbitral Tribunal (NAT) is the first leading permanent arbitration Institute of India, constituted under the provisions of Arbitration and Conciliation Act, 1996 to provide the low-cost speedy justice through the non-litigation mechanism. Indian courts have a huge pendency therefore justice seekers are suffering from delays.</p>

        <p>Non-litigation mechanism is a private dispute Redressal system which is known as Arbitration. National Arbitral Tribunal is going to open permanent arbitral tribunal at district level to encourage culture of non-litigation practice throughout country, which will have a dedicated National panel of Former Supreme court, high court and district court judges and subject experts as arbitrators.</p>

        <p>National Arbitral Tribunal intends to appoint ‘Authorized Promoters’ at such places where courts are already functioning. National Arbitral Tribunal aims to appoint ‘Authorised Promoters’ for promoting, facilitating and providing a platform for non-litigation service to the professionals of that region.</p>

        <p>National Arbitral Tribunal invites applications for “Authorized Promoters”. Interested Parties. Please click the below link to access the application form.</p>

        <p class="mt-20">Click here to <a href="/request-for-authorized-promoter" class="btn-orange ml-20">Request for Authorized Promoter</a></p>

    </div>
</section>
