<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Join Hands as Authorised Promoters</h1>


        <p>
        Nyaya Portal under the name of National Arbitral Tribunal (NAT), is opening institutional arbitration facilities centre at district level starting from the state of Rajasthan and then expanding our services at Pan India level. 
        </p>

        <p> 
        To spread our services and to shift people from litigation to arbitration, Nyaya Portal intends to appoint ‘Authorised Promoters’ at various levels such as Tehsil, District, Division, State level. 
        </p>

        <p>
        Authorised Promoters will be given various tasks such as of promoting our services, creation of awareness about arbitration, facilitating a link between Nyaya Portal and the professionals in the region of their operation.
        </p>

        <p>
        Authorised Promoters will be selected from various professional fields such as lawyers, Chartered Accountants, Company Secretaries, Tax Practitioners etc. and such selected authorised promoters will then get professionals from their respective profession to join Nyaya Portal. On every service provided by such professionals to clients, authorised promoters will be remunerated.     
        </p>

        <p>Partner with Nyaya Portal and Earn on a regular basis.</p>
        <p>Interested person can click below to access the application form.</p>

        <p class="mt-20">Click here to <a href="/request-for-authorized-promoter" class="btn-orange ml-20">Request for Authorized Promoter</a></p>


    </div>
</section>
