<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Join Nyaya Portal</h1>

        <h5>Non-litigation practice<br>A New practicing field for Professionals</h5>

        <p>The Indian Government has recently unveiled various policy measures to facilitate commercial dispute resolution especially through arbitration. There are no big opportunities so far in field of Arbitration in India but at Nyaya Portal, we are creating new opportunities for professionals such as C.As, C.Ss, Lawyers, Tax Practitioners etc. Non-litigation practice is a new concept in India and this field has major scope for professionals to serve their clients with a more efficient commercial/civil dispute resolving mechanism. It&#39;s a new practicing field for professionals and we are focused on providing innovative services in context of non-litigation practice to all associated professionals that enhance profitability, workflow and efficiency.</p>
        <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
        <p><span style="padding: 35px 9px;float: left;">To avail benefits</span>   <a href="/users/register" class="btn btn-orange" style="margin-top: 27px;" >SIGN UP NOW</a></p>
        <!--</div>-->
    </div>

</section>
