<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end --> 

<section class="inner-page-content">
    <div class="container">
        <h1>Thank You for Associating with our Authorised Promoter</h1>

        <h5><%= msg %></h5>
    </div>
</section>