<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>MOUs</h1>

        <p>Nyaya Portal has been working towards betterment of tomorrow hence we are in process of signing MOUs and shortly we will provide a complete list of companies/organizations/govt. sectors/institutions etc.</p>
    </div>
</section>
