<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>About National Arbitral Tribunal</h1>
        <p>National Arbitral Tribunal is a permanent arbitration institution, constituted under the provisions of Arbitration and Conciliation (Amended) Act, 2015 and established by Legal Resolution Centre Private Limited a company incorporated under the Companies Act, 1956 to achieve its object inter alia to provide speedy justice within the given time frame at a modest cost through arbitration mechanism. National Arbitral Tribunal&#39;s dedicated well trained professionals and staff are assigned to facilitate the arbitration procedure in best possible manner be it online or offline.</p>

        <p>National Arbitral Tribunal is a serious attempt to fill up the vacant area in the field of institutional arbitration and non-litigation practice. The recourse to Institutional Arbitration ensures independence and impartiality, besides providing efficiency and secrecy. National Arbitral Tribunal has its own set of arbitration rules which are applicable on arbitration proceedings conducted at National Arbitral Tribunal. The National Arbitral Tribunal also acts as an arbitrator appointing authority under National Arbitral Tribunal arbitration rules and appoint the arbitrators from our panel of Arbitrators, who are experts in their fields, mostly are retired Supreme Court, High Court and District Judges and subject experts.</p>

        <p>During the arbitration procedure, if any interim order is passed by the arbitral tribunal U/s 17 of Arbitration and Conciliation Amended Act, 2015 shall be deemed to be an order of court for all purposes and shall be enforceable under the code of civil procedure, 1908, in the same manner as if it were an order of the court and award (Judgement) made by the arbitrator under National Arbitral Tribunal Arbitration Rules, 2017 is enforceable under the Code of Civil Procedure, 1908 in the same manner as the decree of the court in view of Sec. 36 read with 2(1) (a) of the A&amp;C (Amended) Act, 2015.</p>

        <p>The National Arbitral Tribunal is widely recognized as one of the most popular arbitration institution in the country. National Arbitral Tribunal has a rigid and organized procedure and thus it provides several advantage to the parties who opt for Institutional Arbitration.<br> &nbsp; </p>

        <h3>Advantages of National Arbitral Tribunal</h3>

        <h5>1. Non- litigation culture</h5>
        <p>Parties to disputes, resolve their issues, grievances in amicable environment and get the dispute resolved within time frame of one year which is quite less in comparison to litigation in courts. A speedy redressal of disputes encourage the non-litigation culture among the society.</p>

        <h5>2. Reputation</h5>
        <p>One of the biggest advantage of opting for National Arbitral Tribunal is the reputation of the institution. Decisions given under the name of National Arbitral Tribunal is easier to enforce as it is accepted by majority of other bodies.</p>

        <h5>3. Efficient Administration</h5>
        <p>One more advantage of going for National Arbitral Tribunal is that we provide well-trained staff to the parties for administering the whole process. The administrative staff ensures that the time limits are being complied with, and the process is as smooth as possible.</p>

        <h5>4. Clear Rules</h5>
        <p>At National Arbitral Tribunal, the rules of the arbitration are fixed. There is no further dispute between the parties regarding the rules of the procedure, which might happen in the case of ad-hoc arbitration. Also, the rules are framed keeping all eventualities in mind, as we have an experience of going through various arbitration proceedings and we do know what eventualities may arise.</p>

        <h5>5. Quality of Arbitral Panel</h5>
        <p>One of the major advantages of National Arbitral Tribunal is that we have an extensive panel of experts, who acts as arbitrators. Parties can also choose experts as arbitrator, who have specialized knowledge in their respective field.</p>

        <h5>6. Remuneration by the Tribunal</h5>
        <p>At National Arbitral Tribunal, the remuneration to be paid to the arbitrators is already fixed. The disputing parties do not have to haggle with the arbitrators to decide the terms and amount of remuneration. The remuneration of the arbitrators at National Arbitral Tribunal is based on a fixed scale. The money is paid to the arbitrators without involving them directly.</p>
    </div>
</section>
