<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content national-initiative">
    <div class="container">
        <h1>Strengthening Arbitration: an Initiative of Government of India</h1>


        <p style="font-style: italic; font-weight: bold; text-align: center;">
        “Creation of ‘a vibrant ecosystem for institutional arbitration’ one of the ‘foremost priorities’ of our government, as it will not only add to investors' comfort level but also ease the burden on courts; there is a need to promote India globally as an arbitration hub"- Prime Minister Narendra Modi    
        </p>

        <p>
        All developed countries are adopting private dispute resolution mechanism and 95% of civil & commercial disputes are resolved through Arbitration globally. Now, India is also diverting towards arbitration and day by day environment of non-litigation practice is evolving. The Government of India has laid emphasis on making arbitration as a preferred mode for settlement of commercial/civil disputes in the country.    
        </p>


        <p>
        The Government of India has taken many step towards strengthening arbitration, a time line of such major steps is as follows:    
        </p>


        <p>
        <b>2015:</b> In an attempt to make arbitration a preferred mode of settlement of civil/commercial disputes and making India a hub of arbitration, the Government of India brought major amendments in the Arbitration & Conciliation Act, 1996. Such amendments were to facilitate quick enforcement of contracts, easy recovery of monetary claims, reduce the pendency of cases in courts and hasten the process of dispute resolution through arbitration.     
        </p>


        <p>
        <b>2016:</b>  In October, the Government of India through its think tank NITI Aayog organised a three-day Global Conference on <b>“National Initiative towards Strengthening Arbitration and Enforcement in India”</b> The aim of government behind this conference was to develop a domestic and international arbitration mechanism in India and promote the country as Global Arbitration Hub. The conference was addressed by Hon’ble President of India, Prime Minister of India, Chief Justice of India and many other national and international dignitaries from legal fraternity.     
        </p>


        <p>
        In December, in order to ensure speedy resolution of commercial disputes and to facilitate effective conduct of international and domestic arbitrations raised under various agreements, it has been considered necessary to go into various factors to accelerate arbitration mechanism and strengthen the arbitration ecosystem in the country.  It is also important to examine specific issues and roadmap required to make India a robust centre for international and domestic arbitration. With the above end in view, the Government has decided to constitute a High Level Committee (HLC) in the Ministry of Law and Justice, chaired by <b>Mr. Justice B N Srikrishna, Retired Judge, Supreme Court.</b> The committee submitted their report in August, 2017 with major suggestions.    
        </p>


        <p>
        <b>2017:</b> Presently there are more than 3 crore cases pending in various courts of the country and 46% of these involve Government Department or Government bodies. The Department of Justice under Law Ministry in India, suggested the Government departments and organisations to settle their disputes through alternate methods like mediation, arbitration, conciliation, online or otherwise, etc. so that the Government litigation is reduced and Government Departments / Organisations are encouraged not to go to court for their disputes. This step may help Courts to concentrate on access to justice to people in better manner.     
        </p>


        <p>
        In the month of September, the law ministry advised all departments and ministries to resolve their differences through arbitration, and not move courts, with the government making efforts to take off the tag of "biggest litigant".     
        </p>


        <p>
        In the month of November, the draft act for <b>Indian Arbitration Council</b> was made, The Indian Arbitration Council Act, 2017, aims at creating an independent and autonomous regime for arbitration in India. The Indian Arbitration Council will be declared an institution of ‘National Importance’.     
        </p>


        <p>
         The Arbitration and Conciliation Act, 1996 which was earlier amended in 2015, the government of India is again planning to amend it with better provisions. Experts say establishing an arbitration framework on the lines of Singapore will help India since it will also create a business – friendly environment.   

        </p>


<!--         <p>Worldwide culture of non-litigation practice is growing up. All developed countries are adopting private dispute resolution mechanism and 95% of civil &amp; commercial disputes are resolved through Arbitration globally. Now, India is also diverting towards arbitration and day by day environment of non-litigation practice is evolving. The Government of India has laid emphasis on making arbitration as a preferred mode for settlement of commercial/civil disputes in the country.</p>

        <p>Recently, NITI Aayog organised a three-day Global Conference on <strong>“National Initiative towards Strengthening Arbitration and Enforcement in India”</strong> The aim of government behind this conference was to develop the domestic and international arbitration mechanism in India and promote the country as Global Arbitration Hub.</p>

        <p>This is the first time the Government of India through NITI Aayog organized an important global conference with active support from six major international arbitration institutions i.e</p>

        <ul><li>International Court of Arbitration, France.</li>
        <li>Singapore International Arbitration Centre, Singapore</li>
        <li>London Court of International Arbitration, London</li>
        <li>Kuala Lumpur Regional Centre For Arbitration, Kuala Lumpur</li>
        <li>Hong Kong International Arbitration Centre, Hong Kong</li>
        <li>Permanent Court of Arbitration, Netherland</li></ul>

        <p>The conference was also supported by Ministry of Law and Justice, Department of Industrial Policy and Promotion, National Legal Services Authority, NILERD, International Centre for Alternative Dispute Resolution and legal fraternity and major industry associations of India i.e.</p>
        <ul><li>The Federation of Indian Chambers of Commerce and Industry (FICCI). </li>
        <li>The Confederation of Indian Industry (CII).</li>
        <li>The Associated Chambers of Commerce and Industry of India (ASSOCHAM).</li>
        <li>PHD Chamber of Commerce and Industry.</li></ul>

        <p>The conference served as a platform for discussing critical issues, sharing experience on best domestic and international practices and creating a roadmap to strengthen arbitration and its enforcement in the country. This will, ultimately, feed into policymaking for promoting arbitration in India.</p>

        <div class="row mt-40">
        <div class="col-sm-3"><img src="../front/assets/img/pranab-mukherjee.jpg" class="full-width-767 mb-15-767" alt=""></div>
        <div class="col-sm-9"><h5>The Former President of India Shri Pranab Mukherjee, while addressing this conference said that</h5>
        <p>“Although, arbitral institutions have come up, there is huge untapped potential for growth of institutional arbitration in India for which both domestic and international arbitral institutions have to play a proactive role in getting this market.”</p>
        <p>“If the cost of private dispute resolution is absorbed through private innovation, such innovation should always be encouraged instead of exhausting the judiciary’s resources. Therefore, the Government needs to create an enabling framework for institutional arbitrations in India”.</p>
        <p><a href="https://www.youtube.com/watch?v=b00vMdUR8OM" target="_blank">https://www.youtube.com/watch?v=b00vMdUR8OM</a></p>
        </div>
        </div>

        <div class="row mt-40">
        <div class="col-sm-3"><img src="../front/assets/img/narendramodi.jpg" class="full-width-767 mb-15-767" alt=""></div>
        <div class="col-sm-9"><h5>President&#39;s views were joined by Prime Minister of India Shri Narendar Modi, who said,</h5>
        <p>“Creation of ‘a vibrant ecosystem for institutional arbitration’ one of the ‘foremost priorities’ of our government, as it will not only add to investors&#39; comfort level but also ease the burden on courts; there is a need to promote India globally as an arbitration hub&quot;-- Prime Minister Narendra Modi</p>
        <p><a href="https://youtu.be/iSLM9meuaqs" target="_blank">https://youtu.be/iSLM9meuaqs</a></p>
        </div>
        </div>

        <div class="row mt-40">
        <div class="col-sm-3"><img src="../front/assets/img/ravishankar.jpg" class="full-width-767 mb-15-767" alt=""></div>
        <div class="col-sm-9"><h5>Law Minister of India, Mr. Ravi Shankar Prasad said,</h5>
        <p>“We have Make in India, work in India, and now let’s promote Resolve in India.”</p>
        </div>
        </div>

        <div class="row mbotm-5 mt-40">
        <div class="col-sm-3"><img src="../front/assets/img/chief-justice.jpg" class="full-width-767 mb-15-767" alt=""></div>
        <div class="col-sm-9"><h5>Final remarks were put up by former Chief Justice of India Hon&#39;able Mr. Justice T.S. Thakur said</h5>
        <p>“There cannot be any better time for India to expand its global outreach to attract legal tourism by investing in its arbitration-friendly environment and also by ensuring world-class infrastructural facilities&quot;</p>
        </div>
        </div>

        <p>To develop India as a global hub for international arbitration it is important that we open ourselves to the outside world and incorporate best practices for creating world class Institutional and legal procedure.</p> -->
    </div>
</section>
