<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/home_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>About Nyaya Peeth</h1>
        
        <p>Nyaya Peeth is a permanent arbitration institution, constituted under the provisions of Arbitration and Conciliation (Amended) Act, 2015 and established by Legal Resolution Centre Private Limited a company incorporated under the Companies Act, 1956 to achieve its object inter alia to provide speedy justice within the given time frame at a modest cost through arbitration mechanism. Nyaya Peeth's dedicated well trained professionals and staff are assigned to facilitate the arbitration procedure in best possible manner be it online or offline.</p>
        
        <p>Nyaya Peeth is a serious attempt to fill up the vacant area in the field of arbitration. The recourse to Institutional Arbitration ensures independence and impartiality, besides providing efficiency and secrecy. Nyaya Peeth has its own set of arbitration rules which are applicable on arbitration proceedings conducted at Nyaya Peeth. The Nyaya Peeth also acts as an arbitrator appointing authority under Nyaya Peeth arbitration rules and appoint the arbitrators from our panel of Arbitrators, who are experts in their fields, mostly are retired Supreme Court, High Court and District Judges and subject experts.</p>
        
        <p>During the arbitration procedure, if any interim order is passed by the arbitral tribunal U/s 17 of Arbitration and Conciliation Amendment Act 2015 shall be deemed to be an order of court for all purposes and shall be enforceable under the code of civil procedure, 1908, in the same manner as if it were an order of the court and award (Judgement) made by the arbitrator under Nyaya Peeth arbitration Rules 2017 is enforceable under the Code of Civil Procedure 1908 in the same manner as the decree of the court in view of Sec. 36 read with 2(1) (a) of the A&C act 2015.</p>
        
        <p>The Nyaya Peeth is widely recognized as one of the most popular arbitration institute in the country. Nyaya Peeth has a rigid and organized procedure and thus it provides several advantages to the parties who opt for Institutional Arbitration procedure.</p>

        <h2>Advantages of Nyaya Peeth</h2>

        <ol>
            <li>
                <h3>Reputation</h3>

                One of the biggest advantages of opting for Nyaya Peeth is the reputation of the institution. Decisions given under the name of Nyaya Peeth is easier to enforce as it is accepted by a majority of other bodies.
            </li>
            <li>
                <h3>Efficient Administration</h3>

                One more advantage of going for Nyaya Peeth is that we provide well-trained staff to the parties for administering the whole process. The administrative staff ensures that the time limits are being complied with, and the process is as smooth as possible.
            </li>
            <li>
                <h3>Clear Rules</h3>

                At Nyaya Peeth, the rules of the arbitration are fixed. There is no further dispute between the parties regarding the rules of the procedure, which might happen in the case of ad-hoc arbitration. Also, the rules are framed keeping all eventualities in mind, as we have an experience of going through various arbitration proceedings and we do know what eventualities may arise.
            </li>
            <li>
                <h3>Quality of Arbitral Panel</h3>

                One of the major advantages of Nyaya Peeth is that we have an extensive panel of experts, who acts as arbitrators. We also have arbitrators who specialize in different areas, so that any type of dispute can be resolved.
            </li>
            <li>
                <h3>Supervision</h3>

                Apart from the administration of the arbitrational process, Nyaya Peeth also supervises the arbitrational process.
            </li>
            <li>
                <h3>Remuneration of the Tribunal</h3>

                At Nyaya Peeth, the remuneration to be paid to the arbitrators is already fixed. The disputing parties do not have to haggle with the arbitrators to decide the terms and amount of remuneration. The remuneration of the arbitrators at Nyaya Peeth is based on a fixed scale. The money is paid to the arbitrators without involving them directly.   
            </li>
        </ol>

    </div>
</section>