<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Nyaya Card</h1>

        <p>Nyaya Card is a premium product for promoting a culture of Non-litigation practice. Arbitration is luxurious and expensive mode of dispute resolution system therefore arbitration is out of reach and is confined only to the corporate sector.</p>

        <p>Nyaya Card will bring a revolution in field of arbitration. Nyaya Card holder can access the  justice within a short span of time at a very low cost. The aim of Nyaya Card is to divert people towards low-cost arbitration which will simultaneously reduce the upcoming burden of the court of law. This is the only way through which the people can adopt the non-litigation mechanism and free themselves from lengthy time taking procedure of courts.</p>

        <p>Nyaya card is easy to understand, when parties enter a legal contract, the parties can purchase Nyaya Card through Nyaya Portal, if any dispute arises among the parties then they will be given huge exemptions on fees and in majority of cases it’s 100%, this will help the parties to resolve their dispute in the shortest span of time at the lowest cost.</p>

        <p>Nyaya card has two unique advantages :- </p>

        <ol>
        	<li>Nyaya Card holder will be automatically linked with Arbitration mechanism.</li>
        	<li>Nyaya Card holder can access the Institutional Arbitration services at National Arbitral Tribunal. The cost of arbitration and administrative fee as specified in Schedule - I of National Arbitral Tribunal Procedural Rules, 2017, will be exempted up to 100%*</li>
        </ol>

       	<p>Nyaya card can be purchased by Individuals as well as corporates and institutes. The Nyaya card can be purchased for periods ranging between one year to five year.</p>

       	<p>*Terms and Conditions Apply.</p>
    </div>
</section>