<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>About Nyaya Portal</h1>


        <p>
            Nyaya Portal has been developed to create an infrastructure for institutional arbitration, to support the initiative of Government of India which is <strong>"Strengthening Arbitration and its enforcement In India"</strong> and our mission of <strong>‘Diverting India towards Arbitration’</strong>.
        </p>

        <p> 
            Nyaya Portal is a single window access to empower the institutional arbitration mechanism and revolutionising the arbitration industry in India. Nyayaportal.in is the official web portal of Legal Resolution Centre Pvt. Ltd. (LRC) which is committed to provide resources for institutional arbitration services at affordable cost.
            Nyaya Portal has been developed with the following aims: 
        </p>

        <ol>
            <li>To promote the culture of arbitration among the professionals like Lawyers/CA/CS/Tax practitioners/MBA etc. litigants, business entities and to create an infrastructure for non-litigation practice, to strengthen the arbitration ecosystem and to accelerate arbitration mechanism in the country. </li>
            <li>To provide permanent institutional arbitration facilities online/offline at Pan India level, with this we aim to provide state of art infrastructure, panel of highly qualified arbitrators and subject experts, and one stop solution for all your legal needs.</li>
            <li>To provide institutional arbitration facilities at most affordable cost, which will enable not only the corporate houses to opt arbitration but also the common man and the small business entities.
                <!--We have developed Nyaya Portal as a junction for all stakeholders like clients, professionals, arbitrators, institutes etc. Majority of corporate sector, government sector, bankers, financers, construction companies, entrepreneurs etc. prefer arbitration over litigation.-->
            </li>
        </ol> 
        
        <p>
            We have developed Nyaya Portal as a junction for all stakeholders like clients, professionals, arbitrators, institutes etc. Majority of corporate sector, government sector, bankers, financers, construction companies, entrepreneurs etc. prefer arbitration over litigation.
        </p>
        <p>
            An attempt has been made through this Portal to create a comprehensive ecosystem which will provide accurate, reliable and one stop source of institutional arbitration services and its various facets. It aims to offer a range of best-value products and services to justice seekers along with dedicated customer support. Nyaya Portal provides an effective and efficient alternative window for dispute resolution.    
        </p>


        <!-- <p>This Portal has been developed to create an infrastructure for non-litigation practice and to support the national initiative of Government of India which is <strong>&quot;Strengthening Arbitration and its enforcement In India&quot;</strong>. The Government of India has laid emphasis on making arbitration as a preferred mode for settlement of commercial/civil dispute.</p>

        <p>Nyaya Portal is a single window access to empower the institutional arbitration mechanism, towards strengthening and revolutionising the arbitration industry in India. <a href="/">Nyayaportal.in</a> is the official web portal of Legal Resolution Centre Pvt. Ltd. (LRC) which has been providing resources for institutional arbitration services since 2014.</p>

        <p>In 2014, LRC started a pilot project for three years in Jodhpur district (Rajasthan) to provide institutional arbitration facilities. The outcome of this pilot project is encouraging, a lot of cases were arbitrated during this period. After analysing the success of this project we realized that our country needs a strong infrastructure for institutional arbitration. Working on the same lines we have launched Nyaya Portal. The aim of our web portal is to provide resources of Institutional Arbitration as well as facilitate access to our network of specialists capable of resolving disputes. Our web portal has emerged from our commitment to further advance arbitration as an effective means of resolving disputes throughout the country.</p>

        <p>To create an infrastructure for non-litigation practice, to strengthen the arbitration ecosystem and to accelerate arbitration mechanism in the country, we have divided the arbitration mechanism into two division i.e. arbitration promotion division and institutional arbitration service division, the first division i.e. through Nyaya Portal, we are promoting arbitration clause among all possible sectors of the economy to create a culture of non-litigation practice by associating professionals (Lawyers/CA/CS/Tax practitioners/MBA etc.) at mass level and in second division, we aim to provide institutional arbitration service across all the major districts of the country by setting up permanent arbitration institutes under the banner of National Arbitral Tribunal.</p>

        <p>Nyaya Portal is India’s most affordable mechanism for institutional arbitration services, and it will emerge as largest institutional arbitration network in India in coming time, we have already planned to expand our services at PAN India level.</p>

        <p>We have developed Nyaya Portal as a junction for all stakeholders like clients, professionals, arbitrators, institutes etc. Majority of corporate sector, government sector, bankers, financers, construction companies, entrepreneurs etc. prefer arbitration over litigation. We have clients from almost all of these sectors.</p>

        <p>An attempt has been made through this Portal to create a comprehensive ecosystem which will provide accurate, reliable and one stop source of institutional arbitration services and its various facets. It aims to offer a range of best-value products and services to justice seekers along with dedicated customer support. Nyaya Portal provides an effective and efficient alternative window for dispute resolution.</p> -->
    </div>
</section>
