<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Our Service Area</h1>

        <h2>Currently Nyaya Portal is providing it's services in the following states:</h2>
        <ol class="work-area">
          <li><a href="javascript:void()">Rajasthan</a></li>
          <li><a href="javascript:void()">Haryana</a></li>
          <li><a href="javascript:void()">Punjab</a></li>
        </ol>
        <p>Soon we are going to expand our services to Delhi, Gujarat, Himachal Pradesh and Madhya Pradesh.</p>

    </div>
</section>
