<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>A New Pathway for Professionals</h1>


        <p>
        In the present ever growing legal career and increased opportunities, why just to have a single practice? With a rapid shift from litigation to arbitration and with government’s efforts to strengthen arbitration infrastructure in India, it has opened doors for new and lucrative opportunities for professionals. 
        </p>

        <p> 
        We here at Nyaya Portal have created a Pan India platform, with the aim of creating an ocean of opportunities for professionals such as:  
        </p>

        <p>
        <ul>
          <li>Lawyers</li>
          <li>Chartered Accountants</li>
          <li>Company Secretaries</li>
          <li>Tax Practitioners</li>
          <li>Business Administrators</li>
          <li>Business Analysts</li>
          <li>Banking and Finance Professionals</li>
          <li>Debt Collectors</li>
          <li>Foreign trade experts etc.</li>
        </ul>  
        </p>
        

        <p>
        Worldwide the culture of arbitration is at its peak and all developed countries have adopted private dispute resolution mechanism, 95% of civil & commercial disputes are resolved through non-litigation methods. India, is also seeing a great increase in the trend of resolving disputes through such mechanism. 
        </p>

        <p>
        To grab these new remunerative opportunities, we have launched Nyaya Portal an e-platform for professionals like you, meanwhile we have also created special service products for your clients i.e. of Nyaya card and Nyaya Portal Membership. On signing up on the portal the professionals will become eligible to provide pre and post arbitration services to their clients. Professionals, can use the special services i.e. Nyaya Card where there is single contractual transaction of their clients and Nyaya Portal Membership in case of business entities. These products/services will link your clients to the arbitration process at a very affordable cost. On Sharing and promoting our services, you can enhance your profitability by earning regular incentives with your routine practice.     
        </p>

        <p>
        Our service products will help your client in saving their time, money and bringing a peace of mind by freeing themselves from lengthy and unending court litigation. Clients can avail these services through you at a very affordable cost.      
        </p>


        <p>
        To know more about these opportunities sign up today. <a href="/users/register" class="btn btn-orange" style="margin-top:0; !important">Register</a>    
        </p>


    </div>
</section>
