<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Payment Terms</h1>

        <ul class="termsUl">
        	<li>
                <p>Payment should be made within 02 (Two) working days.</p>
            </li>
            <li>
                <p>Payment only made through Nyaya Portal’s website will be treated as valid payment in discharge of this invoice.</p>
            </li>
            <li>
                <p>Payments are to be made in INR funds.</p>
            </li>
            <li>
                <p>Invoices unpaid after 02 (two) working days will result in freezing of your account and all permitted activities will cease, until payment is received.</p>
            </li>
            <li>
                <p>In no event any cash payment is to be made against this invoice. In case any cash payment is to be made against this Invoice by you to the company or any of its employee/person the same will not be treated as valid payment in discharge of this Invoice and you would be doing so at your own risk and consequence.</p>
            </li>
            <li>
                <p>Copies of invoices and invoice details are available upon request by emailing <a href="javascript:void(0)">support@nyayaportal.in</a></p>
            </li>
            <li>
                <p>Amount being unpaid will result to legal consequences.</p>
            </li>
            <li>
                <p>Company reserves the right to change payment terms.</p>
            </li>
        </ul>     </div>
</section>