<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Port your litigation to Arbitration</h1>

        <p>There is a very simple procedure in law to port your existing/pending litigation to the fastest mode of dispute resolution that is Arbitration.</p>
        
        <h3>1) Section 89 of Civil Procedure code, 1908</h3>
        <p style="padding-left:20px;">Under this section parties to the litigation can mutually file an application before the court by agreeing to resolve the existing dispute through arbitration at National Arbitral Tribunal, then based on such application the court shall refer the dispute to arbitration.</p>
        
        <h3>2) Arbitration and Conciliation Act, 1996</h3>
        <p style="padding-left:20px;">The same procedure under this act can be adopted by the parties to the litigation under Section 8, this however is subjected to the presence of an arbitration agreement under Section 7 between the parties involved.</p>

        <p><a href="/uploads/litigation-Arbitration-application.docx" download="litigation-Arbitration-application"<strong>Download Sample Application Here</a></strong> </p>

    </div>
</section>