<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Privacy Policy</h1>

        <ol class="pp">
          <li><h2>Introduction</h2>
            <ol>
              <li>We are committed to safeguarding the privacy of our portal users; in this policy, we explain how we will treat your personal information.</li>
              <li>By using our portal and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</li>
            </ol>
          </li>
          <li><h2>Collecting personal information</h2>
            <ol>
              <li>We may collect, store and use the following kinds of personal information
                <ol>
                  <li>Information about your computer and about your visits to and use of this portal, including your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and portal navigation paths.</li>
                  <li>Information that you provide to us when registering with our portal, including your email address, name, city, mobile number.</li>
                  <li>Information that you provide when completing your profile on our portal, including Aadhar number, government id details and bank account details.</li>
                  <li>Information that you provide to us when using the services on our portal, or that is generated in the course of the use of those services, including the timing, frequency and pattern of service use.</li>
                  <li>Any other personal information that you choose to send to us; and</li>
                </ol>
              </li>
              <li>Before you disclose to us the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal information in accordance with this policy.</li>
            </ol>
          </li>
          <li><h2>Using your personal information</h2>
            <ol>
              <li>Personal information submitted to us through our portal will be used for the purposes specified in this policy or on the relevant pages of the portal.</li>
              <li>We may use your personal information to:
                <ol>
                  <li>Discharge our regulatory responsibility.</li>
                  <li>Enable your use of the services available on our portal.</li>
                  <li>Send statements, invoices and payment reminders to you, and collect payments from you.</li>
                  <li>Send you email notifications that you have specifically requested.</li>
                  <li>Deal with enquiries and complaints made by or about you relating to our portal.</li>
                  <li>Keep our portal secure and prevent fraud.</li>
                </ol>
              </li>
              <li>We will not, without your express consent, supply your personal information to any third party for the purpose of their or any other third party's direct marketing.</li>
              <li>All our portal financial transactions are handled through our payment services provider, [Paynimo]. You can review the provider's privacy policy at their website. We will share information with our payment services provider only to the extent necessary for the purposes of processing payments you make via our portal, refunding such payments and dealing with complaints and queries relating to such payments and refunds.</li>
            </ol>
          </li>
          <li><h2>Cookies</h2>
            <ol>
              <li>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer’s hard drive. We use “cookies” to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</li>
            </ol>
          </li>
          <li><h2>Security</h2>
            <ol>
              <li>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</li>
            </ol>
          </li>
          <li><h2>Disclosing personal information</h2>
            <ol>
              <li>We may disclose your personal information to, any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors, insofar as reasonably necessary for the purposes set out in this policy.</li>
              <li>We may disclose your personal information to any authorised agency for investigation purposes.</li>
              <li>We may disclose your personal information:
                <ol>
                  <li>to the extent that we are required to do so by law.</li>
                  <li>in connection with any ongoing or prospective legal proceedings.</li>
                  <li>in order to establish, exercise or defend our legal rights, including providing information to others for the purposes of fraud prevention and reducing credit risk.</li>
                  <li>to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</li>
                </ol>
              </li>
              <li>All our portal financial transactions are handled through our payment services provider, [Paynimo]. You can review the provider's privacy policy at their website. We will share information with our payment services provider only to the extent necessary for the purposes of processing payments you make via our portal, refunding such payments and dealing with complaints and queries relating to such payments and refunds.</li>
              <li>Except as provided in this policy, we will not provide your personal information to third parties.</li>
            </ol>
          </li>
          <li><h2>Changes to This Privacy Policy</h2>
            <ol>
              <li>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</li>
              <li>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</li>
            </ol>
          </li>
          <li><h2>Contact Us</h2>
            <ol>
              <li>If you have any questions about this Privacy Policy, please <a href="http://192.168.100.160:7001/pages/contact-us">contact us</a></li>
            </ol>
          </li>
        </ol>
    </div>
</section>
