<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Disputes prohibited under Arbitration</h1>

        <ol>
        	<li>In any case dispute involving criminal offences are fully beyond jurisdiction of arbitration.</li>
        	<li>
        		Even in case of civil rights following matter cannot be referred to arbitration:

        		<ol class="alpha-list">
        			<li>Matrimonial matters and matters connected with conjugal rights.</li>
        			<li>Industrial disputes and revenue matters (income tax &amp; other tax matters).</li>
        			<li>Testamentary matters under Succession Act.</li>
        			<li>Motor vehicle accident.</li>
        			<li>Matters under Indian Trust Act, trusteeship of charitable institutions, public charity matters failing within the purview of monopolies and restrictive Trade Practices Act.</li>
        			<li>Determination of guardianship or wards.</li>
        			<li>As per section 24 of Indian Contract Act matters relating to unlawful consideration are void hence these matters cannot be referred for arbitration.</li>
        			<li>Insolvency matters, declaring a person insolvent.</li>
        			<li>Dissolution or winding up of a company.</li>
              <li>Eviction or tenancy matters.</li>
        		</ol>
        	</li>
        </ol>
    </div>
</section>
