<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Recourse against Arbitral Award</h1>

        <p>Award passed by National Arbitral Tribunal can only be set aside on the basis of limited ground. An application for setting aside of award under Section 34 of Arbitration and Conciliation (Amended) Act, 2015 is to be filed after issuing prior notice to the other party. A period of one year has been prescribed for disposal of an application for setting aside an arbitral award.</p>

        <h2>Section 34. Application for setting aside arbitral award.</h2>

        <ol>
        	<li>Recourse to a Court against an arbitral award may be made only by an application for setting aside such award in accordance with sub-section (2) and subsection (3).</li>
        	<li>
        		An arbitral award may be set aside by the Court only if -
        		<ol>
        			<li>
        				The party making the application furnishes proof that -

        				<ol>
        					<li>a party was under some incapacity, or</li>
        					<li>the arbitration agreement is not valid under the law to which the parties have subjected it or, failing any indication thereon, under the law for the time being in force; or</li>
        					<li>the party making the application was not given proper notice of the appointment of an arbitrator or of the arbitral proceedings or was otherwise unable to present his case; or</li>
        					<li>the arbitral award deals with a dispute not contemplated by or not falling within the terms of the submission to arbitration, or it contains decisions on matters beyond the scope of the submission to arbitration: Provided that, if the decisions on matters submitted to arbitration can be separated from those not so submitted, only that part of the arbitral award which contains decisions on matters not submitted to arbitration may be set aside; or</li>
        					<li>the composition of the arbitral tribunal or the arbitral procedure was not in accordance with the agreement of the parties, unless such agreement was in conflict with a provision of this Part from which the parties cannot derogate, or, failing such agreement, was not in accordance with this Part; or</li>
        				</ol>
        			</li>
					<li>The Court finds that -

						<ol>
							<li>the subject-matter of the dispute is not capable of settlement by arbitration under the law for the time being in force, or</li>
							<li><p>the arbitral award is in conflict with the public policy of India.</p>

								<p><strong>“Explanation 1.</strong>—For the avoidance of any doubt, it is clarified that an award is in conflict with the public policy of India, only if,— (i) the making of the award was induced or affected by fraud or corruption or was in violation of section 75 or section 81; or (ii) it is in contravention with the fundamental policy of Indian law; or (iii) it is in conflict with the most basic notions of morality or justice. <strong>Explanation 2.</strong>—For the avoidance of doubt, the test as to whether there is a contravention with the fundamental policy of Indian law shall not entail a review on the merits of the dispute.”; (II) after sub-section (2), the following sub-section shall be inserted, namely:— </p>

								“(2A) An arbitral award arising out of arbitrations other than international commercial arbitrations, may also be set aside by the Court, if the Court finds that the award is vitiated by patent illegality appearing on the face of the award: Provided that an award shall not be set aside merely on the ground of an erroneous application of the law or by reappreciation of evidence.”;
							</li>
						</ol>
					</li>
        		</ol>
        	</li>
        	<li><p>An application for setting aside may not be made after three months have elapsed from the date on which die party making that application had received the arbitral award or, if a request had been made under section 33, from the date on which that request had bow disposed of by the arbitral tribunal:</p>
        		<strong>Provided</strong> that if the Court is satisfied that the applicant was prevented by sufficient cause from making the application within the said period of three months it may entertain the application within a further period of thirty days, but not thereafter. </li>
        	<li>On receipt of an application under sub-section (1), the Court may, where it is 16 appropriate and it is so requested by a party, adjourn the proceedings for a period of time determined by it in order to give the arbitral tribunal an opportunity to resume the arbitral proceedings or to take such other action as in the opinion of arbitral tribunal will eliminate the grounds for setting aside the arbitral award.</li>
        	<li>An application under this section shall be filed by a party only after issuing a prior notice to the other party and such application shall be accompanied by an affidavit by the applicant endorsing compliance with the said requirement.</li>
        	<li>An application under this section shall be disposed of expeditiously, and in any event, within a period of one year from the date on which the notice referred to in sub-section (5) is served upon the other party.</li>
        </ol>
    </div>
</section>
