<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Refund & Cancellation Policy</h1>

        <p>We believe in satisfying and delighting our customers. Our refund & cancellation policy is made keeping our valuable customers in mind and hence we have easy transparent procedure for it. However, we wish that you do not need to use the policy as far as possible but we do understand that under unforeseen conditions it is necessary to cancel and refund. </p>
        <h2>Transaction Failed</h2>
        <p> If amount getting debited from customer account and Nyaya Card / Membership not issued, LRC will refund the entire Fee electronically (as credit to the relevant credit /debit card /account used for the transaction), but the bank/card transaction charges are likely to be forfeited.</p>
        <h2>Refund on cancellation:</h2>


        <ol>
        	<li> <p>Nyaya Card shall be cancelled through Nyaya portal in case Nyaya Card don’t match your arbitration requirements, and the refund of fee shall be credited to the account from which transaction took place, after deducting the applicable charges. The amount deducted is based on the time of cancellation and the status of your card. Detailed explanations are given below: - </p>
        		<ol>
        			<li><p>If the Nyaya Card is presented for cancellation within 07 days from the date of purchase, then 50%(Fifty percent) of fee plus Taxes paid/ applicable shall be deducted. Please note such deduction is at the sole discretion of the company.</p></li>
        			<li> <p>If the Nyaya Card is presented for cancellation within 30 days from the date of purchase, then 75%(Seventy five percent) of fee plus Taxes paid/ applicable shall be deducted. Please note such deduction is at the sole discretion of the company.</p></li>

        		</ol>


        	</li>
        	<li>
             <p>
        	    No refund shall be granted on Membership fee.
        	  </p>
        	</li>
        	<li><p>Arbitration & administrative fee shall be refund through Nyaya Portal, if arbitration claim is withdrawn, the refund of fee shall be credited to the account from which transaction took place, after deducting the applicable charges. The amount deducted is based on the status of your arbitration claim/proceeding. Detailed explanations are given below: - </p>
        		<ol>
        			<li> <p>If the arbitration claim is withdrawn before the appointment of arbitrator, then   25%(Twenty five percent) of fee plus Taxes  paid/ applicable shall be deducted. Please note such deduction is at the sole discretion of the company.</p></li>
        			<li><P>If the arbitration claim is withdrawn 05(Five) days prior to first meeting /hearing of arbitration claim, then 60%(Sixty) percent of fee plus Taxes paid/ applicable shall be deducted. Please note such deduction is at the sole discretion of the company.</P></li>
        		</ol>

        	</li>
        	<li> <P>No refund shall be granted on Registration Fee.</P></li>
        </ol>
        <br>
        <p><strong>Note:</strong> LRC offers no guarantees whatsoever for the accuracy or timeliness of the refunds reaching the Customers card/bank accounts. This is on account of the multiplicity of organizations involved in processing of online transactions, the problems with Internet infrastructure currently available and working days/holidays of financial institutions.
</p>


    </div>
</section>
