<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Schedule of Fees</h1>

        <p>This schedule of fee is effective from 1 April, 2017 and is applicable to all arbitrations/appeal to second arbitration commenced on or after 1 April, 2017. This Schedule of Fee may be amended from time to time and any revised Schedule of Fee shall take effect as of the date determined by the Board.</p>

        <h2>Registration, Administrative and Arbitrator fee</h2>

        <p>Schedule of fee below applies to all arbitrations and appeal to second arbitration administered by National Arbitral Tribunal. Administrative and Arbitrator fee will be calculated in accordance with the Schedule-I of National Arbitral Tribunal Procedural Rules, 2017.</p>

        <h2>Schedule - I</h2>

        <div class="table-responsive b-1">
        	<table class="table table-bordered">
        		<tr>
        			<th style="text-align: left;">SUM IN DISPUTE / CIAIM SIZE</th>
        			<th>Registration Fees</th>
        			<th>Arbitrator and Administrative fees</th>
        		</tr>
        		<tr>
        			<td style="text-align: left;">Upto Rs. 1,00,000</td>
        			<td>Rs. 5,500</td>
        			<td>Rs. 25,000</td>
        		</tr>
        		<tr>
        			<td style="text-align: left;">Above Rs. 1,00,000 and up to Rs. 3,00,000</td>
        			<td>Rs. 6,500</td>
        			<td>Rs. 25,000 plus 5.5 percent of the amount claimed over and above Rs. 1,00,000</td>
        		</tr>
        		<tr>
        			<td style="text-align: left;">Above Rs. 3,00,000 and up to Rs. 5,00,000 </td>
        			<td>Rs. 7,500</td>
        			<td>Rs. 36,000 plus 4.5 percent of the amount claimed over and above Rs. 3,00,000</td>
        		</tr>
        		<tr>
        			<td style="text-align: left;">Above Rs. 5,00,000 and up to Rs. 20,00,000</td>
        			<td>Rs. 12,500</td>
        			<td>Rs. 45,000 plus 3.5 percent of the amount claimed over and above Rs. 5,00,000</td>
        		</tr>
        		<tr>
        			<td style="text-align: left;">Above Rs. 20,00,000 and up to Rs. 1,00,00,000</td>
        			<td>Rs. 25,000</td>
        			<td>Rs. 97,500 plus 3 percent of the claimed amount over and above Rs. 20,00,000</td>
        		</tr>
        		<tr>
        			<td style="text-align: left;">Above Rs. 1,00,00,000 and up to Rs. 10,00,00,000</td>
        			<td>Rs. 50,000</td>
        			<td>Rs. 3, 37,500 plus 1 percent of the claimed amount over and above Rs. 1,00,00,000</td>
        		</tr>
                <tr>
                    <td style="text-align: left;">Above Rs. 10,00,00,000 and up to Rs. 20,00,00,000</td>
                    <td>Rs. 75,000 </td>
                    <td>Rs. 12, 37,500 plus 0.75 percent of the claimed amount over and above Rs. 10,00,00,000</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Above Rs. 20,00,00,000</td>
                    <td>Rs. 1,00,000</td>
                    <td>Rs. 19, 87,500 plus 0.5 percent of the claimed amount over and above Rs. 20,00,00,000 with a ceiling of Rs. 30,00,000.</td>
                </tr>
        	</table>
        </div>

        <p><strong>Note 1 : </strong> The arbitrator shall be entitled to an additional amount of 25% on the fee payable as mentioned above.</p>

        <p><strong>Note 2 : </strong> Where the dispute cannot be expressed in terms of money, the Registrar shall determine the amount of fee in such case.</p>

        <p><strong>Note 3 : </strong> In exceptional cases, the rates may be higher or lower, in peculiar circumstances director may in fit case provide free legal aid.</p>

        <p><strong>Note 4 : </strong> The rates quote may be revised from time to time, by the Board.</p>

        <p>The Above Fee Schedule does not include the Following :- </p>

        <ul>
        	<li>Usage cost of facilities and support services for and in connection with any hearing. (e.g. Printing, photocopying, postage, equipment charges, transcription and interpretation services, expert&#39;s fee, receiver/ commissioner fee etc.)</li>
        	<li>Where the facilities are provided in a place other than in National Arbitral Tribunal offices, the charges will be determined in each case and billed separately on actual bases.</li>
        	<li>Out of pocket expenses.</li>
        	<li>Taxes as applicable.</li>
            <li>Requisite stamp duty.</li>
        </ul>
    </div>
</section>
