<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/home_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        
    </div>
</section>