<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Time Limit for Arbitral Award</h1>

        <p>The National Arbitral Tribunal shall ensure speedy completion of Arbitration proceedings and pass the award within a period of twelve months from the date when the arbitral tribunal enters upon the reference. However, the parties may extend such period for a further period not exceeding six months. If the award is made within a period of six months, The National Arbitral Tribunal shall be entitled to receive additional fees as the parties agree. If the award is not made within specified period or extended period, the mandate of the arbitrator shall terminate unless the time is extended by the court.</p>

        <h2>Section 29A. Time Limit for Arbitral Award</h2>

        <ol>
        	<li>The award shall be made within a period of twelve months from the date the arbitral tribunal enters upon the reference. Explanation.—For the purpose of this sub-section, an arbitral tribunal shall be deemed to have entered upon the reference on the date on which the arbitrator or all the arbitrators, as the case may be, have received notice, in writing, of their appointment.</li>
        	<li>If the award is made within a period of six months from the date the arbitral tribunal enters upon the reference, the arbitral tribunal shall be entitled to receive such amount of additional fees as the parties may agree.</li>
        	<li>The parties may, by consent, extend the period specified in sub-section (1) for making award for a further period not exceeding six months.</li>
        	<li><p>If the award is not made within the period specified in sub-section (1) or the extended period specified under sub-section (3), the mandate of the arbitrator(s) shall terminate unless the Court has, either prior to or after the expiry of the period so specified, extended the period:</p>
            (i) <strong>Provided</strong> that while extending the period under this sub-section, if the Court finds that the proceedings have been delayed for the reasons attributable to the arbitral tribunal, then, it may order reduction of fees of arbitrator(s) by not exceeding five per cent. for each month of such delay.</li>
        	<li>The extension of period referred to in sub-section (4) may be on the application of any of the parties and may be granted only for sufficient cause and on such terms and conditions as may be imposed by the Court.</li>
        	<li>While extending the period referred to in sub-section (4), it shall be open to the Court to substitute one or all of the arbitrators and if one or all of the arbitrators are substituted, the arbitral proceedings shall continue from the stage already reached and on the basis of the evidence and material already on record, and the arbitrator(s) appointed under this section shall be deemed to have received the said evidence and material.</li>
        	<li>In the event of arbitrator(s) being appointed under this section, the arbitral tribunal thus reconstituted shall be deemed to be in continuation of the previously appointed arbitral tribunal.</li>
        	<li>It shall be open to the Court to impose actual or exemplary costs upon any of the parties under this section.</li>
        	<li>An application filed under sub-section (5) shall be disposed of by the Court as expeditiously as possible and endeavour shall be made to dispose of the matter within a period of sixty days from the date of service of notice on the opposite party.</li>
        </ol>
    </div>
</section>
