<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
    	<h1>Two-Tier Arbitration</h1>

        <p>Where, the parties are accepting the Arbitration clauses which provides for a two-step arbitration, that process is held valid under Indian Arbitral Jurisprudence.</p>

        <p>The Supreme Court of India held that the settlement of disputes or differences through a two-tier arbitration procedure (whereby a party can appeal the result of an arbitration to a second arbitration panel) is permissible under Indian law.</p>

        <p>The court held that there was nothing in the Arbitration and Conciliation Act,1996 that precluded the parties from agreeing that an award could be referred to a second panel of arbitrators by way of an appeal, with the result of that appeal being subject to the challenge procedure provided by the (1996). (M/S Centrotrade Minerals and Metal Inc v Hindustan Copper Ltd (Civil Appeals No. 2562 and 2564 of 2006).</p>
    </div>
</section>
