<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>Videos</h1>

        <div class="row videos-list">
            <div class="col-sm-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/b00vMdUR8OM" frameborder="0" allowfullscreen></iframe>
                <h5>Inaugural session of arbitration conference</h5>
            </div>
            <div class="col-sm-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/iSLM9meuaqs" frameborder="0" allowfullscreen></iframe>
                <h5>PM at Valedictory session of National Initiative towards Strengthening Arbitration &amp; Enforcement</h5>
            </div>
            <div class="col-sm-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/TWXuAVddpAs" frameborder="0" allowfullscreen></iframe>
                <h5>About amended arbitration &amp; conciliation Act,2015</h5>
            </div>
            <div class="col-sm-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/0D6WKoQU-3s" frameborder="0" allowfullscreen></iframe>
                <h5>Public Forum: Strengthening of Arbitration</h5>
            </div>
        </div>
    </div>
</section>
