<%- contentFor('body') %>

<!-- Banner start -->
<% include ../element/inner_banner %>
<!-- Banner end -->

<section class="inner-page-content">
    <div class="container">
        <h1>What is Arbitration?</h1>

        <p>At its core, arbitration is a form of dispute resolution. Arbitration is the private, judicial determination of a dispute, by an independent third party. An arbitration hearing may involve the use of an individual arbitrator or a tribunal. A tribunal may consist of any number of arbitrators though some legal systems insist on an odd number for obvious reasons of wishing to avoid a tie. One and three are the most common numbers of arbitrators. The disputing parties hand over their power to decide the dispute to the arbitrator(s). Arbitration is an alternative to court action (litigation), and generally, just as final and binding (unlike mediation, negotiation and conciliation which are non-binding).</p>

        <h3>General principles of arbitration are as follows:</h3>

        <ul><li>The object of arbitration is to obtain a fair resolution of disputes by an impartial third party without unnecessary expense or delay. </li>
        <li>Parties should be free to agree how their disputes are resolved, subject only to such safeguards as are necessary in the public interest.</li>
        <li>Courts should not interfere.</li></ul>

        <h4>Arbitrators, or Tribunal members, are commonly appointed by one of three means:</h4>
        <ol><li>Directly by the disputing parties (by mutual agreement, or by each party appointing one arbitrator).</li>
        <li>By existing tribunal members (For example, each side appoints one arbitrator and then the arbitrators appoint a third).</li>
        <li>By an external party (For example, the court or an individual or arbitration institution nominated by the parties).</li></ol>

        <p>Arbitration, is governed by Arbitration and Conciliation (Amended) Act, 2015. This provide a basic template for the arbitration as well as procedures for confirmation of an arbitrator’s award (the document that gives and explains the decision of an arbitrator), a procedure that gives an award the force and effect of a judgment after a trial in a court. Many countries have adopted the Uniform Arbitration Act, although some have specific and individual rules for arbitration like India.</p>


    </div>
</section>
