<%# include ../helper/breadcrumb.ejs %>
<%# include('../helper/Heading-Page.ejs', {title:'About Nyaya Card'}); %>
<section class="content-header">
    <h1>About Nyaya Card</h1>
    <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li> About Nyaya Card</li>
        <!--<li class="active"></li>-->
    </ol>
</section>
<section class="content">
  <div class="box box-primary content-ul-heading txt-justify">
      <% if(extraVar.user_type == 'professional'){ %>
    <div class="content-ul">
      <ol>
        <li>What is Nyaya Card?
          <p>Nyaya card is product which divert the parties to any agreement/contract towards arbitration mechanism. In future “If any dispute arises between the parties to agreement/ contract”, then they can adjudicated/resolve their dispute out of court in short span of time through arbitration mechanism and obtain an award (judgement) which is enforced in same manner as if its degree of court. </p>
        </li>
        <li>What are the benefits of Nyaya Card?
          <p>Nyaya Card holder can the access the facilities of institutional arbitration at National Arbitral Tribunal and get exemptions up to 100% in arbitrator and administrative fee. This provide a protection against an expensive arbitration procedure/pecuniary loss which can arise on the happening of an unexpected dispute between the parties to the any contract.</p>
        </li>
        <li>What is the procedure of creating Nyaya Card on Nyaya Portal?
          <p>To create Nyaya Card the mandatory requirement is an existing agreement/contract between the parties. If the parties to the agreement/contract are interested in purchasing the Nyaya Card, firstly you need to fill the Nyaya Card form online on the portal. By filling the form you will be creating an arbitration agreement between the parties on which the Nyaya Card is issued. The arbitration agreement can be downloaded and the parties need to sign it. They can sign the downloaded agreement either manually or can use the E-sign facility for signing the document through the Aadhar based E-sign technology. Then the Nyaya card along with the invoice can be downloaded. </p>
        </li>
        <li>Who can buy the Nyaya Card?
          <p>Parties to agreement/contact can buy a Nyaya Card.</p>
        </li>
        <li>What are the things which are needed to be selected carefully at the time of buying the Nyaya Card?
          <p>There are two things which are needed to be selected carefully, first is the procedure of arbitration i.e. single tier or two-tier arbitration. Secondly the place of arbitration, which means in case if any dispute arises what will be the place at which the parties would like to arbitrate their dispute. </p>
        </li>
        <li>Can parties to any agreement/contract can purchase the Nyaya Card after arising of the dispute?
          <p>No, Nyaya card can only be purchased within two months of execution of the agreement/contract. </p>
        </li>
        <li>What is the cost of Nyaya Card?
          <p>By paying a very small sum of money, parties to the any agreement/contract can safeguard themselves from unfortunate huge legal expenses. Nyaya Card Fee vary in each case; the fee is calculated upon the value of agreement/contract. Nyaya Card fee can be calculated through the fee calculator.</p>
        </li>
        <li>What is the duration for which a Nyaya Card can be purchased?
          <p>Nyaya Card can be purchased for the period ranging between 1 to 5 years.</p>
        </li>
        <li>Can client purchase a Nyaya Card directly on the portal?
          <p>No, the client must purchase the Nyaya Card only through a professional. </p>
        </li>
        <li>In case of any dispute, what is the procedure of filing a claim?
          <p>Claim can be filed online through the Nyaya Portal’s home page, after which our executive will assist with the further procedure. </p>
        </li>
        <li>Who will adjudicate the dispute?
          <p>Former Supreme Court, High Court, District Court Judges and subject experts can adjudicate the dispute as an arbitrator which are appointed according to National Arbitral Tribunal (Procedural) Rules, 2017 and pronounce the final award (judgement).</p>
        </li>
        <li>How is an award obtained through arbitration is enforced?
          <p>According to section 36(1) Arbitration and Conciliation (Amended) Act, 2015, the award shall be enforced in accordance with the Code of Civil Procedural, 1908, in the same manner as if it were a decree of the court.</p>
        </li>
      </ol>
    </div>
      <% } else {%>
        <div class="content-ul">
      <ol>
        <li>What is Nyaya Card?
          <p>Nyaya card is product which divert the parties to any agreement/contract towards arbitration mechanism. In future “If any dispute arises between the parties to agreement/ contract”, then they can adjudicated/resolve their dispute out of court in short span of time through arbitration mechanism and obtain an award (judgement) which is enforced in same manner as if its degree of court. </p>
        </li>
        <li>What are the benefits of Nyaya Card?
          <p>Nyaya Card holder can the access the facilities of institutional arbitration at National Arbitral Tribunal and get exemptions up to 100% in arbitrator and administrative fee. This provide a protection against an expensive arbitration procedure/pecuniary loss which can arise on the happening of an unexpected dispute between the parties to the any contract.</p>
        </li>
        <li>What is the procedure of creating Nyaya Card on Nyaya Portal?
          <p>To create Nyaya Card the mandatory requirement is an existing agreement/contract between the parties. If the parties to the agreement/contract are interested in purchasing the Nyaya Card, firstly you need to fill the Nyaya Card form online on the portal. By filling the form you will be creating an arbitration agreement between the parties on which the Nyaya Card is issued. The arbitration agreement can be downloaded and the parties need to sign it. They can sign the downloaded agreement either manually or can use the E-sign facility for signing the document through the Aadhar based E-sign technology. Then the Nyaya card along with the invoice can be downloaded. </p>
        </li>
        <li>Who can buy the Nyaya Card?
          <p>Parties to agreement/contact can buy a Nyaya Card.</p>
        </li>
        <li>What are the things which are needed to be selected carefully at the time of buying the Nyaya Card?
          <p>There are two things which are needed to be selected carefully, first is the procedure of arbitration i.e. single tier or two-tier arbitration. Secondly the place of arbitration, which means in case if any dispute arises what will be the place at which the parties would like to arbitrate their dispute. </p>
        </li>
        <li>Can parties to any agreement/contract can purchase the Nyaya Card after arising of the dispute?
          <p>No, Nyaya card can only be purchased within two months of execution of the agreement/contract. </p>
        </li>
        <li>What is the cost of Nyaya Card?
          <p>By paying a very small sum of money, parties to the any agreement/contract can safeguard themselves from unfortunate huge legal expenses. Nyaya Card Fee vary in each case; the fee is calculated upon the value of agreement/contract. Nyaya Card fee can be calculated through the fee calculator.</p>
        </li>
        <li>What is the duration for which a Nyaya Card can be purchased?
          <p>Nyaya Card can be purchased for the period ranging between 1 to 5 years.</p>
        </li>
        <li>Can client purchase a Nyaya Card directly on the portal?
          <p>No, the client must purchase the Nyaya Card only through a professional. </p>
        </li>
        <li>In case of any dispute, what is the procedure of filing a claim?
          <p>Claim can be filed online through the Nyaya Portal’s home page, after which our executive will assist with the further procedure. </p>
        </li>
        <li>Who will adjudicate the dispute?
          <p>Former Supreme Court, High Court, District Court Judges and subject experts can adjudicate the dispute as an arbitrator which are appointed according to National Arbitral Tribunal (Procedural) Rules, 2017 and pronounce the final award (judgement).</p>
        </li>
        <li>How is an award obtained through arbitration is enforced?
          <p>According to section 36(1) Arbitration and Conciliation (Amended) Act, 2015, the award shall be enforced in accordance with the Code of Civil Procedural, 1908, in the same manner as if it were a decree of the court.</p>
        </li>
      </ol>
    </div>
      <% } %>
      
  </div>

</section>
