<%# include ../helper/breadcrumb.ejs %>
<%# include('../helper/Heading-Page.ejs', {title:'Model Clause'}); %>
<section class="content-header">
    <h1>Model Clause</h1><br><h5 class="box-title"><a href="/front/pdf/Model-Clause.docx" >Download Model Clause <i class="fa fa-download"></i></a></h5>
    <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li> Model Clause</li>
        <!--<li class="active"></li>-->
    </ol>
</section>
<section class="content txt-justify">
    <% if(extraVar.user_type == 'professional'){ %>
  <div class="box box-primary">
    <div class="box-body content-ul-heading">
      <h4>Single Tier Arbitration clause</h4>
      <p>Parties to a contract who agree to resolve their contractual disputes in accordance with the National Arbitral Tribunal (Procedural) Rules and to have the National Arbitral Tribunal as the appointing authority and/or provide administrative services, may use the following clause: </p>
      <p><strong>“If any</strong> dispute arising out of or in connection with this contract, including any question regarding its existence, validity or termination, shall be referred to and finally resolved by arbitration in accordance with the National Arbitral Tribunal (Procedural) Rules.</p>
      <p>The Authority to appoint the arbitrator(s) shall be the National Arbitral Tribunal. </p>
      <p><strong>Note:</strong> Parties may consider adding the following: - </p>
      <ol>
        <li>The number of arbitrator(s) shall be____________ </li>
        <li>The place of arbitration proceedings shall be ______________</li>
        <li>The language of the arbitration proceedings shall be ____________ </li>
      </ol>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-body content-ul-heading">
      <h4>Two Tier Arbitration clause</h4>
      <p>Parties to a contract who agree to resolve their contractual disputes in accordance with the National Arbitral Tribunal (Procedural) Rules and to have the National Arbitral Tribunal act as appointing authority and/or provide administrative services, may use the following clause:</p>
      <p>“If any dispute arising out of or in connection with afore mentioned contract, including any question regarding its existence, validity or termination, shall be referred to and resolved by arbitration in accordance with the National Arbitral Tribunal (Procedural) Rules. If either party is in disagreement with the arbitration result, either party will have the right to appeal to a second arbitration within a period of 60 days from the date of arbitration result in accordance with the National Arbitral Tribunal(Procedural) Rules and the result of this second arbitration shall be final & binding on upon the parties. </p>
      <p>The Authority to appoint the arbitrator(s) shall be the National Arbitral Tribunal (Procedural) Rules."</p>
      <p><strong>Note:</strong> Parties may consider to add the following: - </p>
      <ol>
        <li>The number of arbitrator(s) shall be____________ </li>
        <li>The language of the arbitration proceedings shall be ____________</li>
        <li>The place of arbitration shall be ______________ </li>
        <li>The place of appeal to second arbitration shall be ______________</li>
      </ol>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-body content-ul-heading">
      <h4>Model Consent Letter for Non-Contractual Disputes</h4>
      <p>SELLER herein means____________________________________________ and BUYER herein means any person, party, association, firm, private limited company, limited company, corporation, business entity etc., who make an offer to the Seller to purchase the products or service.</p>
      <p>WHEREAS the buyer hereby agrees upon following terms of seller.</p>
      <p>If any disputes or differences arises between the aforesaid parties out of or in connection with business transactions, including any question regarding its existence, validity or termination, shall be referred to and resolved by arbitration in accordance with the National Arbitral Tribunal (Procedural) Rules. If either party is in disagreement with the arbitration result, either party will have the right to appeal to a second arbitration within a period of 60 days from the date of arbitration result in accordance with the National Arbitral Tribunal(Procedural) Rules and the result of this second arbitration shall be final & binding on upon the parties. The place of arbitration & second arbitration shall be _____________ <strong>(Name of State)</strong></p>
      <p>_______________________________</p>
      <p><strong>DATE:</strong></p>
      <p>_______________________________ <span class="d-block">BUYER SIGNATURE WITH STAMP</span></p>
    </div>
  </div>
    <% } else {%>
        <div class="box box-primary">
    <div class="box-body content-ul-heading">
      <h4>Single Tier Arbitration clause</h4>
      <p>Parties to a contract who agree to resolve their contractual disputes in accordance with the National Arbitral Tribunal (Procedural) Rules and to have the National Arbitral Tribunal as the appointing authority and/or provide administrative services, may use the following clause: </p>
      <p><strong>“If any</strong> dispute arising out of or in connection with this contract, including any question regarding its existence, validity or termination, shall be referred to and finally resolved by arbitration in accordance with the National Arbitral Tribunal (Procedural) Rules.</p>
      <p>The Authority to appoint the arbitrator(s) shall be the National Arbitral Tribunal. </p>
      <p><strong>Note:</strong> Parties may consider adding the following: - </p>
      <ol>
        <li>The number of arbitrator(s) shall be____________ </li>
        <li>The place of arbitration proceedings shall be ______________</li>
        <li>The language of the arbitration proceedings shall be ____________ </li>
      </ol>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-body content-ul-heading">
      <h4>Two Tier Arbitration clause</h4>
      <p>Parties to a contract who agree to resolve their contractual disputes in accordance with the National Arbitral Tribunal (Procedural) Rules and to have the National Arbitral Tribunal act as appointing authority and/or provide administrative services, may use the following clause:</p>
      <p>“If any dispute arising out of or in connection with afore mentioned contract, including any question regarding its existence, validity or termination, shall be referred to and resolved by arbitration in accordance with the National Arbitral Tribunal (Procedural) Rules. If either party is in disagreement with the arbitration result, either party will have the right to appeal to a second arbitration within a period of 60 days from the date of arbitration result in accordance with the National Arbitral Tribunal(Procedural) Rules and the result of this second arbitration shall be final & binding on upon the parties. </p>
      <p>The Authority to appoint the arbitrator(s) shall be the National Arbitral Tribunal (Procedural) Rules."</p>
      <p><strong>Note:</strong> Parties may consider to add the following: - </p>
      <ol>
        <li>The number of arbitrator(s) shall be____________ </li>
        <li>The language of the arbitration proceedings shall be ____________</li>
        <li>The place of arbitration shall be ______________ </li>
        <li>The place of appeal to second arbitration shall be ______________</li>
      </ol>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-body content-ul-heading">
      <h4>Model Consent Letter for Non-Contractual Disputes</h4>
      <p>SELLER herein means____________________________________________ and BUYER herein means any person, party, association, firm, private limited company, limited company, corporation, business entity etc., who make an offer to the Seller to purchase the products or service.</p>
      <p>WHEREAS the buyer hereby agrees upon following terms of seller.</p>
      <p>If any disputes or differences arises between the aforesaid parties out of or in connection with business transactions, including any question regarding its existence, validity or termination, shall be referred to and resolved by arbitration in accordance with the National Arbitral Tribunal (Procedural) Rules. If either party is in disagreement with the arbitration result, either party will have the right to appeal to a second arbitration within a period of 60 days from the date of arbitration result in accordance with the National Arbitral Tribunal(Procedural) Rules and the result of this second arbitration shall be final & binding on upon the parties. The place of arbitration & second arbitration shall be _____________ <strong>(Name of State)</strong></p>
      <p>_______________________________</p>
      <p><strong>DATE:</strong></p>
      <p>_______________________________ <span class="d-block">BUYER SIGNATURE WITH STAMP</span></p>
    </div>
  </div>
    <% } %>

</section>
