<%- include('../helper/Heading-Page.ejs', {title:'Add'}); %>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <form role="form" method='post' action='' enctype="multipart/form-data">
                    <div class="box-body">

                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-primary button-next">Make Payment</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>

</script>